[2015-08-17 19:57] unhammer opened #130 "The string "xmlcopyeditor" matches the ".ml" commands"

[2015-08-17 19:57] jonorthwash commented on #130
fixed already :)

[2015-08-17 19:57] #130 closed

[2015-08-17 20:37] jonorthwash opened #131 "list_report can fail if no 3rd argument"
Fix Line 137 of `mailing_list.py` (https://github.com/goavki/phenny/commit/d0246c22a9e058403a8d4355be4d7cfe911e7b64#diff-83eb0c0023d4524d35045cd0e95a6b01R137) so that it behaves correctly if there are 3 groups.

[2015-08-19 08:36] jonorthwash opened #132 "github comment trimming"
Have long comments trimmed to message length instead of allowing them to be sent as multiple messages.

For example, the following should only have returned the first message, with "..." or similar at the end:

[2015-08-21 02:15] jonorthwash opened #133 "gitserver (git webhook server) eventually always fails"
After some time running, the git webhook server eventually stops.  It may be continuing to take requests, but the bot doesn't respond to them or push them to the channels.

`.gitserver status` also reports `Server is down! Start using '.gitserver start'`, but on `.gitserver start`, we find the address is still in use (`socket.error: [Errno 98] Address already in use (file "/usr/lib/python3.2/socke

[2015-09-08 18:45] unhammer opened #135 "s/:smile:/😃 in commit messages"
`:smile:` doesn't look good

[2015-12-12 06:23] svineet opened #150 "point commands for more modules"
As part of GCI I built point commands like .awik Begiak -> svineet for wikitonary, wikipedia and apertium wiki. Would be nice if we ported this to other modules like:
- Urban Dictionary (.urb)
- Google (.g)

Please add a comment as to which modules need this.

[2015-12-12 06:26] svineet commented on #150
I will work on this soon, when I am free

[2015-12-13 04:15] Leeyp opened #151 "Apertium wiki pages that begiak doesn't do a good job with"
begiak doesn't work well on these 11 apertium wiki examples I have found, and these can be generalized into 4 cases as described below. The sample output of the examples can be found in this paste: http://paste2.org/bM2EwkAV
## Case 1: Navigation info returned

This problem invariably happens when there is the navigation UI at the side of the page, as can be seen on the main page or highlighted in

[2015-12-13 05:58] Leeyp opened #152 "Wikipedia pages/sections that return bad results when queried by begiak"
begiak doesn't work well on these 12 Wikipedia pages and 3 Wikipedia section examples I have found, and these can be generalized into 4 cases as described below. The sample output of the examples can be found in this paste: http://paste2.org/nXM7k8wV
## Case 1: Out of Place Fullstop problem

_Affected URLs_: https://en.wikipedia.org/wiki/Samuel_Johnson
                    https://en.wikipedia.org/

[2015-12-13 14:41] svineet opened #155 "Weird output from begiak's email module"
begiak
apertium-contact: Kevin Brubeck Unhammer un...@mm....st: Re: [Apertium-contact] =?utf-8?q?Apertium_har_sluttet_=C3=A5_virke_p?= =?utf-8?q?=C3=A5_PC=27en_min!?=
apertium-contact: Kevin Brubeck Unhammer un...@mm....st: Re: =?utf-8?q?oversettelse_g=C3=A5r_ikke?=

maybe begiak should ignore urls in emails and print the actual text?

[2015-12-14 10:22] unhammer commented on #155
they're not urls, that's email encoding of unicode stuff (e.g. å turns into =C3=A5)

[2015-12-14 12:36] wei2912 commented on #150
It'd be good if you can look through the list of modules and see which ones should have point commands. Even better, find a way to have this apply to all modules (this would be difficult but is probably the best solution).

[2015-12-14 15:26] wei2912 commented on #152
I wonder if we can apply NLP to solve this. :P

[2015-12-14 16:35] svineet commented on #150
As the point commands are used to point new users/users in need of help to reference material online I don't think generalizing it for all commands will be a good solution. Instead only a small group of commands should have it.

[2015-12-16 11:34] ghost opened #158 "Begiak is too strict about nick capitalization"
It would be great if Begiak would read the messages out to those nicks which it also informs that they have unread messages:

<Testing12340202> begiak, tell putti something
<begiak> Testing12340202: I'll pass that on when putti is around.

Joining the channel with nick "Putti"
<begiak> Putti: You have messages. Say something, and I'll read them out.
<Putti> something
--> Begiak not reading out the

[2015-12-16 12:25] unhammer commented on #158
I also once tried "Begiak, tell nick something" and it didn't respond until I tried "begiak, tell nick something"

[2015-12-16 14:57] wei2912 opened #159 "Implementing `.more` for other modules"
@mjuvekar7 has implemented `.more` for `fs_quotes` and `queue` in https://github.com/goavki/phenny/pull/153. There may be more modules where this command will be useful. Does anyone have suggestions?

I was thinking of `.awik` and `.wik` where the user can "scroll" through the wiki page. However, this may have to wait till https://github.com/goavki/phenny/issues/151 and https://github.com/goavki/p

[2015-12-26 16:49] svineet opened #169 ".time does not show correct time"
`.time IST` gives time that is -3 hours off. `.time GMT` gives time that is -13 hours off.

IST should be +0530 but by begiak's .time command it seems to be +1000.

[2015-12-26 16:54] svineet commented on #169
`.time UTC' returns correct time. As TinoDidriksen suggested it might be that IST means something else, like Israel Standard Time, etc. But GMT still seems to be off and that is strange.

[2015-12-31 06:59] vigneshv59 commented on #169
.time GMT works as well.

[2015-12-31 22:40] vigneshv59 commented on #169
Fixed with https://github.com/goavki/phenny/pull/171

[2016-01-06 09:04] unhammer opened #174 "git/svn stuff should be channel-specific"
I'm guessing people who are in #hfst (and not #apertium) don't care much about commits (or long-winding issue reports like this) to apertium-html-tools; could they be made channel-specific?

[2016-01-11 08:00] unhammer opened #175 "more ISO 639-3 codes"
https://en.wikipedia.org/wiki/ISO_639:pun
and  qaa–qtz, und, mis, mul, zxx
https://en.wikipedia.org/wiki/ISO_639-3#Non-language_codes

[2016-01-11 10:58] unhammer opened #176 ".logs doesn't work"
should give http://tinodidriksen.com/pisg/freenode/logs/
instead gives nothing

[2016-01-15 14:22] #176 closed

[2016-03-16 10:28] flammie commented on #174
That would be a good thing, please. If it is difficult to implement I can maybe look at it if I know what to look at?

[2016-03-18 12:33] unhammer commented on #174
Here's a workaround for Weechat users at least: `/filter add begiak-apertiumcia-in-hfst *.#hfst nick_begiak (?-i)^apertium:`

[2016-05-12 16:08] jonorthwash commented on #174
I think this is resolved now?

[2016-05-13 05:54] flammie commented on #174
I guess the implementation is fixed, however, the settings are still missing, now omorfi commits for example go to all channels and hfst seems to go to apertium too, but not vice versa.

[2016-05-23 07:43] unhammer opened #182 "ignore merge commits?"
merge commits lead to lots of duplicate messages, can we ignore them?

Alternatively, can begiak save the set of hashes reported per repo (at least save it in memory) and skip any already reported?

[2016-05-23 07:52] unhammer opened #183 "skip repeating url titles so often"
how about a little cache [(url, timestamp)], say with max 5 members, fifo, for begiak's url title thing? That way we might skip repeating titles said within last N secs.

[2016-05-27 17:21] unhammer commented on #174
goavki-stuff is still showing on #hfst and #matxin too

[2016-05-27 17:41] jonorthwash commented on #174
Config updated.  If everything works as it's supposed to, goavki updates should only go to #apertium, and hfst updates should only go to #hfst.

[2016-05-27 17:42] jonorthwash commented on #174
Hmm, okay, that does not seem to be the case.  I have this config parameter set:
`git_channels = {'goavki': ['#apertium'], 'hfst': ['#hfst']}`

But it seems the code is not in place ot make that work, or is potentially buggy.

[2016-06-10 09:37] frankier opened #184 "Sourceforge issues plugin"
Hi. The Sourceforge issue plugin #180 doesn't seem to be working on #apertium . It worked reasonably in my testing. Did you run into bugs and disable it? Is there something I can do to fix it?

[2016-07-05 06:43] unhammer opened #186 ".iso639 of 2-letter code should list related 3-letter codes"
[code]

but I wanted to know that the 3-letter code is "ltz"

[2016-12-01 15:13] SilentFlame commented on #183
Sounds cool to me.

would like to try, @unhammer  can you please guide as to what to do?

[2016-12-02 09:39] unhammer commented on #183
I don't know the code-base. If I were to do this task, I would clone the repo and grep for things like "urllib" or "request" to find places where the url2title function might be defined.

[2016-12-02 09:48] SilentFlame commented on #183
Ok cool, let me try that then. :)

[2016-12-02 10:19] wei2912 commented on #183
I'll be willing to guide you with the task. Just let me know if there are
any issues!

On Fri, 2 Dec 2016, 17:48 Vinay Singh <notifications@github.com> wrote:

Ok cool, let me try that then. :)

—
You are receiving this because you are subscribed to this thread.

Reply to this email directly, view it on GitHub
<https://github.com/goavki/phenny/issues/183#issuecomment-264414843>, or mute
the thread

[2016-12-02 10:22] SilentFlame commented on #183
@wei2912 thanks a lot for that,

Let me once go through it and will ask you if stuck somewhere.

[2016-12-09 22:16] Putti opened #187 "Slogans not working"
The example case explains it all:

\<Putti\> .slogan apertium
\<begiak\> AttributeError: 'NoneType' object has no attribute 'findall' (file "/home/begiak/phenny/web.py", line 43, in get)

Sounds like a nice feature – would be nice to get it working.

[2016-12-09 22:43] Putti opened #188 "Missing LICENSE file"
Although it seems that this project is licensed under the Eiffel Forum License 2 it would be still good to have it in its own LICENSE file.

[2016-12-09 22:50] Putti commented on #187
Seems like an easy fix: just check whether the 'head' got parsed or not. If not then return as in the other cases, otherwise proceed.

[2016-12-16 05:24] jatinluthra14 commented on #187
https://github.com/goavki/phenny/pull/191
Here it is.

[2016-12-16 05:28] #187 closed

[2016-12-16 05:29] wei2912 commented on #187
Merged in https://github.com/goavki/phenny/commit/88eed6ce6cddb4f9c7917e45de29ff92bd32db7f.

[2016-12-16 05:38] wei2912 opened #192 "`posted` module not working"
When running Begiak, the `posted` module fails to load with this error message:

    Error loading posted: No module named 'ago' (in bot.py)

This is most likely because the `ago` module no longer exists. Perhaps someone could lookup when the module was removed, or modify the code such that it no longer depends on the `ago` module?

[2016-12-16 05:40] wei2912 opened #193 "`sfissues` module not working"
When loading phenny, the `sfissues` module fails to load:

    Error loading sfissues: No module named 'feedparser' (in bot.py)

This is most likely because the module `feedparser` no longer exists. Could someone lookup when this module was removed and fix the module such that it no longer relies on `feedparser`? Thanks.

[2016-12-16 05:44] wei2912 opened #194 "Begiak needs a build system that runs its tests"
Begiak needs a build system such as [Travis](https://travis-ci.org/). Upstream `phenny` has its own build system but no such system has been implemented for Begiak yet. Perhaps one could draw inspiration from the upstream build system and implement a similar system here?

[2016-12-17 17:07] wei2912 opened #197 "Conflict with `archwiki.py`"
https://github.com/goavki/phenny/blob/master/modules/archwiki.py has the command `awik` which conflicts with our command for Apertium wiki. Should this module be disabled/removed? It doesn't seem to interfere with the normal functioning of begiak unless the module is reloaded.

[2016-12-17 17:57] wei2912 commented on #183
@SilentFlame how is your progress?

[2016-12-17 18:00] #169 closed

[2016-12-17 18:02] nuboro opened #199 "set of tests not working"
There are some set of tests that are not working
test_head.py
test_mylife.py
test_rule34.py
test_search.py
test_tfw.py
test_vtluugwiki.py
test_weather.py
test_wiktionary.py

test_clock.py (runs 4 tests OK, but then takes a lot of time for the next(not sure if those works) )

[2016-12-17 18:04] jatinluthra14 commented on #133
The problem is that The port is being used by other program. I've made it run using a port from the following page https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers
So that it may not clash with it. It's working perfectly. It is still in observation. If it show the same error (not likely to expect now) then It can be easily fixed using SO_REUSEADDR and I'll submit the code as PR.

[2016-12-17 19:04] jonorthwash commented on #133
No, it's not that it's in use by some other program (nothing on that list that might conflict is in use).  It seems to be that it's crashing (for an unknown reason—maybe it's receiving bad packets?) and not closing the port when it does.

So what I would like you to do:
1. Explain why `SO_REUSEADDR` might help.
2. Come up with some bad packets that you can test it with, and see if you can get the

[2016-12-17 19:14] Putti commented on #197
I think the command could be just renamed as archwiki or similar.

[2016-12-17 19:19] jonorthwash commented on #197
Agreed.  And maybe ours should be `.apwik` for good measure?

[2016-12-17 19:31] #192 closed

[2016-12-17 19:38] Putti commented on #197
No need to change .awik to .apwik in my opinion, people are used to it already.

[2016-12-17 20:23] jonorthwash commented on #197
But what about for upstream users?

[2016-12-17 21:03] Putti commented on #197
You mean merging the code to upstream? Like would some problems arise in doing that? Or what do you mean?

[2016-12-17 21:05] Putti commented on #197
And who do you mean with upstream users?

[2016-12-17 23:13] jonorthwash commented on #197
Yeah, I mean when merging into upstream, if anyone wants functionality of both, then there will be a problem.

[2016-12-18 13:14] unhammer commented on #197
Merge from a branch where you change that bit? I assume we have to keep *some* differences, since not everything is configurable

[2016-12-18 17:56] jonorthwash commented on #197
We don't really have a strategy in place for how to deal with that.  Are you suggesting we keep an Apertium/begiak-specific branch?  If so, I don't get how that helps when we merge into it from upstream...

[2016-12-18 18:59] Putti commented on #197
Just a note: the upstream looks pretty abandonded... But maybe some day it will arise from the darkness and we can merge the changes.

[2016-12-20 17:10] ghost opened #209 "Repeating "you have messages""
* nick (....) has joined
\<begiak\> nick: You have messages. Say something, and I'll read them out.
\<begiak\> nick: You have messages. Say something, and I'll read them out.
\<begiak\> nick: You have messages. Say something, and I'll read them out.

[2016-12-20 17:19] Putti commented on #209
Oh, I see, it makes each one of these for every alias. Is that intended?

[2016-12-20 18:49] Putti commented on #209
On another channel (#hfst, instead of #apertium) begiaks says following (happening at the same time):

* nick (...) has joined
\<begiak\> ...
\<begiak\> ...

[2016-12-24 01:42] shardulc commented on #132
Is this just for comments on issues, all sorts of comments, or all messages whatsoever having a human-entered field (like commit messages)?

[2016-12-24 15:19] wei2912 opened #213 "Magic number 430 used to represent maximum message length"
In many of begiak's modules, the constant 430 is used to represent the maximum message length, however its use can be confusing for code maintainers. I suggest that a constant, `MAX_MSG_LEN`, be placed in the config file and have all instances of constants representing message length be replaced.

[2016-12-24 15:43] wei2912 commented on #209
I don't understand the purpose of sending a message for every alias, given that only one nick is joining. https://github.com/goavki/phenny/blob/master/modules/tell.py#L279 is the LOC that causes this behaviour.

[2016-12-24 15:55] Putti commented on #209
yeah, I would remove it

[2016-12-24 15:56] jatinluthra14 commented on #194
I am trying this one.

[2016-12-24 17:03] wei2912 commented on #199
No need to run `test_rule34.py`, that module isn't used in the apertium channel anyways. Add the decorator:

[code]

to the test file.

[2016-12-24 17:08] wei2912 commented on #194
@jatinluthra14 has set up the build system on his fork. He is currently fixing the test suites which take a very long time to run, so that he can complete testing of the build system.

[2016-12-25 16:50] jatinluthra14 commented on #194
https://github.com/goavki/phenny/pull/214

[2016-12-26 05:54] jonorthwash commented on #132
I mean, I guess the formatting for issues comments needs work.  We have `.more` as a more general solution, but I don't think it's the best (or at least, first) way to approach this.

[2016-12-26 12:55] jatinluthra14 commented on #199
Fixed test_time taking lot of time in this PR https://github.com/goavki/phenny/pull/216

[2016-12-26 17:36] jatinluthra14 commented on #194
https://github.com/goavki/phenny/pull/216 is merged. This issue can be closed.

[2016-12-27 05:49] wei2912 commented on #199
To clarify, it wasn't a fix. The test was just disabled.

On Mon, 26 Dec 2016, 20:55 jatinluthra14 <notifications@github.com> wrote:

[2016-12-27 06:31] wei2912 commented on #194
Not yet. We've yet to test the build system up on the main repository.

[2016-12-28 05:53] jonorthwash commented on #158
I don't think we want to have begiak respond to Begiak.  What's the consensus on this?

[2016-12-28 06:01] sushain97 commented on #158
I’m fine with Begiak == begiak. However, I’m not as certain about Putti == putti.

[2016-12-28 07:42] wei2912 commented on #158
As far as I know, IRC nicknames are not case sensitive, so it shouldn't be
an issue to implement this.

On Wed, 28 Dec 2016, 14:01 Sushain Cherivirala <notifications@github.com>
wrote:

[2016-12-28 08:40] unhammer commented on #158
Yeah, on IRC, `"Putti" == "putti"`.

Nicks should be *stored* in original form wherever stored, but any comparison should be case-insensitive.

[2016-12-28 08:44] jonorthwash commented on #158
Begiak == begiak will be harder to implement because of how the bot is written, but I guess it could be done...

[2016-12-29 05:48] wei2912 commented on #158
@vikramkashyap Any fix to this issue should cover the whole bot, not just the `tell` module.

[2016-12-29 07:31] wei2912 commented on #132
`.more` should not the approach used, as it should (and can) only be used for user queries. Trimming the comment as @shardulc has done is probably the best solution. Full comments can be accessed via the link.

[2016-12-29 07:43] #132 closed

[2016-12-29 09:50] unhammer commented on #174
How about we have one channel as "default" if a repo is not specified in git_channels? E.g.
` git_channels = {'*': ['#apertium'], 'hfst': ['#hfst']}` would make everything go to `#apertium` except stuff from https://github.com/hfst/hfst/

[2016-12-29 12:55] reallyly commented on #213
I wonder if this issue is still opened?  Because in https://github.com/goavki/phenny/blob/master/irc.py , at line 186, I saw a variable named `maxlength` to hold 430.  The only problem is that the  `maxlength` variable isn't in caps.

[2016-12-29 13:09] wei2912 commented on #213
Yes, it's not standardized across the modules that make use of the maximum
number of characters. That variable there is local and not a bot specific
constant.

On Thu, 29 Dec 2016, 20:55 Lia <notifications@github.com> wrote:

[2016-12-29 13:11] reallyly commented on #213
I'm interested to do this for a GCI task! :)

[2016-12-29 18:31] shardulc commented on #188
I would like to work on this as a GCI task (https://codein.withgoogle.com/dashboard/task-instances/5202356188741632/).

[2016-12-29 19:37] jatinluthra14 commented on #194
I think It's tested Or some tests are required?

[2016-12-29 19:56] #188 closed

[2016-12-29 22:21] shardulc commented on #199
I would like to work on this as a GCI task (https://codein.withgoogle.com/dashboard/task-instances/6277003982405632/). How many of the tests should I try to fix (through modifying the code or the tests)?

[2016-12-29 23:39] jonorthwash commented on #132
A trimmed version was the idea.  These are just channel notifications, not intended as a full replacement interface for github.  Perhaps we should have a simple function accessible to various modules that accepts chunks of text and assembles them into a single message, triming the chunks it's been told to keeping the whole thing within normal message length.

[2016-12-29 23:47] jonorthwash commented on #213
Yes, please do! Also see my comment at https://github.com/goavki/phenny/issues/132#issuecomment-269710635 for an additional change that could accompany it.

[2016-12-30 00:03] wei2912 commented on #194
Yes, the build system is ready. Let me know when you've claimed the task.

On Fri, 30 Dec 2016, 03:37 jatinluthra14 <notifications@github.com> wrote:

[2016-12-30 09:28] wei2912 commented on #199
@shardulc Try to fix all of them, most should be a few line fixes. If not, then inform us and skip the test. It can be dealt with later.

Check the build logs for an idea of what you need to fix.

[2016-12-30 13:34] jatinluthra14 commented on #193
I'll work on this as a GCI task.

[2016-12-30 17:51] jatinluthra14 commented on #193
Fixed in this PR: https://github.com/goavki/phenny/pull/221

[2016-12-30 17:56] wei2912 commented on #184
Seems to be related to https://github.com/goavki/phenny/issues/193.

[2016-12-30 18:05] #194 closed

[2016-12-30 18:38] william1835 commented on #186
Hi, I'm a GCI student, and I'm interested in doing this for my task.

[2016-12-30 20:17] sushain97 commented on #186
Hi @william1835. Please do! :)

[2016-12-30 22:06] vikramkashyap commented on #158
@wei2912 I understand. So would a complete solution to this issue be to modify all instances of comparisons of nicks in the bot to make them case-insensitive?

[2016-12-31 01:10] wei2912 commented on #158
Yes, you got that. I'd suggest you check if Python has such a function for
case insensitive comparison of two strings. If not, create a function for
it and make the modules use it.

On Sat, 31 Dec 2016, 06:06 vikramkashyap <notifications@github.com> wrote:

[2016-12-31 14:52] wei2912 opened #223 "GitHub issue tracker marks an edited comment as a new comment"
An example of this behaviour:

 22:52      begiak| phenny: wei2912 * new comment on issue #223: Test comment. https://github.com/goavki/phenny/issues/223
 22:53      begiak| phenny: wei2912 * new comment on issue #223: Edited this comment. It was used for testing.                     https://github.com/goavki/phenny/issues/223

[2016-12-31 14:52] wei2912 commented on #223
Test comment.

[2017-01-01 19:12] unhammer commented on #158
This is the Python3 way to do case-insensitive comparisons:
[code]

It's unicode-aware, in case you ever run phenny on an irc server that allows non-ascii nicks…:
[code]

[2017-01-01 22:34] shardulc commented on #223
I would like to work on this for my [GCI task](https://codein.withgoogle.com/dashboard/task-instances/5381871124873216/). I assume this will have to be fixed for comments on issues, commits, and PRs?

[2017-01-01 22:55] sushain97 commented on #223
Yep.

[2017-01-02 02:38] shardulc commented on #223
Should phenny:
 1. report that the comment was edited;
 2. show the text of the edited comment;
 3. show the changes to the comment;
 4. report the usual 'commenter, issue/commit/PR, url';
 5. or perform some combination thereof?

[2017-01-02 02:47] wei2912 commented on #223
1, 2, 4. 3 is overkill and would be spammy.

On Mon, 2 Jan 2017, 10:38 Shardul Chiplunkar <notifications@github.com>
wrote:

[2017-01-02 09:53] william1835 commented on #186
Right, I think I've added this enhancement in the commit above. I think I'll do the opposite way round as well, so when three-letters codes are supplied, two-letter codes are given, then I'll create a PR for the changes

[2017-01-03 05:05] #223 closed

[2017-01-03 05:07] wei2912 commented on #199
PR has been merged and all tests work now. Closing this issue.

[2017-01-03 05:07] #199 closed

[2017-01-04 16:51] sushain97 opened #230 "Google search broken"
sushain: .g hello
[10:50am] begiak: sushain: Problem getting data from Google.
[10:50am] sushain: yeah okay

[2017-01-04 16:54] jatinluthra14 commented on #230
Will work on it as a GCI Task

[2017-01-04 18:03] jatinluthra14 commented on #230
https://github.com/goavki/phenny/pull/231

[2017-01-05 12:17] #230 closed

[2017-01-08 04:48] wei2912 opened #232 "`more` module: Allow users to request for a few messages at once"
The `more` module as of now allows a user to request only one message at a time. Let the user be able to request multiple messages at once, by inputting a number.

[2017-01-08 04:48] #193 closed

[2017-01-08 04:48] #184 closed

[2017-01-08 04:49] wei2912 commented on #184
Fixed in a recent commit, but the polling functionality was removed.

[2017-01-09 16:53] flammie opened #233 "some paths in some commits are wrong?"
[code]

I believe there were no paths home/begiak in hfst-ospell repo...

[2017-01-15 07:26] shardulc opened #236 "Some GitHub actions spam channels"
Some actions on GitHub cause begiak to flood the pertinent channels with messages, like opening a review on a pull request:

[code]

Or synchronizing a pull request:
[code]

Or merging a pull request:
[code]

There may be more cases where this happens. Note that these are all wrapped text here, but not on IRC: this is obviously annoying behavior. The fix will most likely require begiak _collecting

[2017-01-15 07:46] unhammer commented on #236
It also posts *edits* of comments etc.

[2017-01-15 07:48] shardulc commented on #236
@unhammer That was supposed to post the edited content of the comments, but it looks like the webhook doesn't send that information so it is better if removed.

[2017-01-15 10:50] wei2912 commented on #236
I'm not sure if there's other similar behaviour. A good approach would be to bundle similar webhook data received in a time period, say one minute.

[2017-01-15 15:53] jonorthwash commented on #236
Another solution would be to set a variable with a timestamp when one of those particular types of hooks is received, and if the subsequent types of hooks are received within a given time period afterwards (say, one minute, but could be fiddled with), to just skip outputting them.

[2017-01-22 01:46] jonorthwash opened #238 "wiktionary module incorrect behaviour"
If you look up "joke" (`.w joke#English`), the output is the following:

[code]

The module seems to not be skipping examples and the like.  Here's the original entry:

[code]

Expected output would be something like

[code]

The module should probably ignore lines starting with `#:` and `#*`.

[2017-01-22 01:47] jonorthwash opened #239 "wiktionary module should redirect"
Current behaviour:
[code]

Instead, it should redirect to the word suggested and return the definition there.

[2017-01-26 23:44] vikramkashyap commented on #239
I'll give this a try. I think it should still tell the user that it redirected, though.

[2017-03-03 16:13] sushain97 opened #241 "Wikipedia module breaking"

[2017-03-27 10:56] unhammer opened #244 "per-nick max-count on welcome message?"
There are people who seem to have `#apertium` in auto-join, but never say anything. It gets a bit old having the welcome message repeat for them ad infinitum – could begiak perhaps stop welcoming if they've been welcomed say 4 times? (Or just taper off a bit, like only welcome whenever their join_count is a round binary number `math.log(join_count,2) % 1 == 0` 😜)

[2017-04-14 22:24] shardulc opened #249 "Reload quirks"
In most use-cases, `reload.py` can reload modules with no issues. However, consider the Wikipedia module: some commands like `.wik` are called directly, while others, like detecting Wikipedia URLs and providing snippets, are called from `head.py`. For this the `head.py` file has a line saying `import wikipedia`. When the Wikipedia module is reloaded, commands like `.wik` change their behavior appr

[2017-04-15 00:07] #238 closed

[2017-04-15 00:08] #241 closed

[2017-04-15 06:46] wei2912 commented on #249
Good point there. I am not sure about how other IRC bots perform reloading of modules, but they probably do not use the Python module system.

[2017-06-07 18:50] unhammer opened #251 "truncate long commit messages"
Actual behaviour:
[code]

Expected behaviour (just the first line, the *subject* of the commit message, exchange short-hash for url):
[code]

[2017-08-01 16:35] jonorthwash opened #252 "general all-purpose flood control"
Some modules (mailing list, commit messages, etc.) when they get behind might try to post dozens of updates at a time.  These end up more or less flooding a channel.  In these cases, it should post at most three messages: e.g., the earliest update, a message that says "...", and the latest update.

[2017-08-05 21:24] jonorthwash opened #253 "identify each travis-ci error and create an issue for it"
We are currently getting [a number of errors reported for phenny](https://travis-ci.org/goavki/phenny/jobs/260824878) using travis-ci.  We need to categorise them all into issues so we can solve them one-by-one.

[2017-08-15 03:15] flammie opened #254 "commits to branches should be marked or hidden"
e.g. gh-pages in github is probably mostly uninteresting.

[2017-08-20 18:30] jonorthwash commented on #254
This concerns the github module.

[2017-08-20 18:31] jonorthwash opened #255 "fix wikipedia module"
e.g., today it did this:
[code]

[2017-08-20 18:54] flammie commented on #254
yeah, here's example payload if you don't have an access:

[code]

I'd recommend filtering on `refs != "refs/heads/master` and maybe also `not repository['fork']`.

[2017-10-25 03:38] #251 closed

[2017-10-25 04:44] #255 closed

[2017-10-29 19:27] jonorthwash opened #258 "git hook server stops working after some time"
It seems that any time a packet is dealt with poorly by the git server, the module crashes and it becomes unable to deal with further requests.

Here's an example of a recent one that I can fix.

[code]

I think we just need better error handling.

[2017-10-29 19:35] jonorthwash commented on #258
This particular example was handled by https://github.com/goavki/phenny/commit/d5b046

But we can't always keep up 100% with changes in the payloads, so we need a better error handling approach in general.

[2017-10-29 19:41] jonorthwash commented on #252
Perhaps related to #232 and #159.

[2017-10-30 14:42] jonorthwash commented on #152
I wonder what's causing https://en.wikipedia.org/wiki/Aryan and https://en.wikipedia.org/wiki/Indo-Aryan_languages to both return "Pontic Steppe" ....

[2017-11-01 14:36] jonorthwash commented on #152
[code]
It should return https://en.wikipedia.org/wiki/City_University_of_New_York instead, since that's what https://en.wikipedia.org/wiki/CUNY redirects to.

[2017-11-02 01:00] jonorthwash commented on #152
Same for https://en.wikipedia.org/wiki/Saka_language  !!

And `.wik Obama` returns
`(20:59:26) begiak: "Illinois State SenatorU" - https://en.wikipedia.org/wiki/Barack_Obama`

[2017-11-09 02:57] jonorthwash commented on #183
I don't understand what this issue is about.  Could someone summarise what the undesired behaviour is?

[2017-11-09 02:58] jonorthwash commented on #209
When does this happen?

[2017-11-09 03:01] jonorthwash commented on #186
@unhammer, is this fixed currently?

[2017-11-09 03:04] jonorthwash opened #259 "check_mail reports all new mail at once"
Usually begiak doesn't seem to report on new mail messages.  But when begiak is restarted and rejoins the room, it waits a few minutes and then floods the channel with all new mail.

[2017-11-09 03:05] jonorthwash opened #260 "mail poller seems to have trouble with unicode message titles"
There are reports like

[code]

[2017-11-09 09:08] unhammer commented on #183
Someone posts a link, begiak gives a summary. Someone refers to the same link two seconds later, begiak posts a summary again.  Someone starts doing hacks like "http foo[dot]com" to avoid begiak-spam.

[2017-11-09 09:12] unhammer commented on #186
[code]

[2017-11-09 09:12] #186 closed

[2017-11-11 04:26] jonorthwash commented on #183
So begiak is making what already constitutes link spam a little worse?  I'm trying to understand when someone would post the same link over and over again to some reasonable end...

[2017-11-30 16:46] wei2912 commented on #252
Also related to https://github.com/goavki/phenny/issues/236.

[2017-12-01 05:30] jonorthwash opened #261 "clock module is broken"
I implemented the quick hack in https://github.com/goavki/phenny/commit/6a2e593cd4c57db1c78a6f7e4629dbd1a3239cbb to make it not crash, but the problem needs to be fully debugged and addressed.

[2017-12-03 09:33] unhammer commented on #183
@jonorthwash http://sprunge.us/cXIS is an example from a few minutes ago on #apertium

[2017-12-03 20:15] jonorthwash commented on #183
I'm not sure I follow.  Could you share the relevant channel logs?

[2017-12-04 09:08] unhammer commented on #183
Did the sprunge link not work? let me try a screenshot:
![begiak](https://user-images.githubusercontent.com/56868/33544447-1b02e4a6-d8db-11e7-9927-a49fafc72bdd.png)

[2017-12-06 14:44] wei2912 commented on #135
[code]

I assume this means the codebase no longer has ":smile:", so I'm closing this issue.

[2017-12-06 15:24] muhammad-mullboccus7 commented on #213
should i do this?.....
@wei2912

[2017-12-06 15:36] #158 closed

[2017-12-06 15:50] wei2912 commented on #213
https://github.com/goavki/phenny/pull/240

@muhammad-mullboccus7 pick another task first, I think.

[2017-12-06 16:25] muhammad-mullboccus7 commented on #253
Ill try look into this..

[2017-12-06 16:50] muhammad-mullboccus7 opened #262 "test_login failed"
line 614..
module failed: IRC module
test failed: test_login
""test_login (phenny.test.test_irc.BotTest) ... ERROR""
Heres the link: https://travis-ci.org/goavki/phenny/jobs/309867406

[2017-12-06 17:12] shardulc commented on #262
@muhammad-mullboccus7 Here's the preferred format:

(Title: test_login failing for IRC module)

Failing test: [test_login](https://github.com/goavki/phenny/blob/master/test/test_irc.py#L39)
Failing module: [irc.py](https://github.com/goavki/phenny/blob/master/irc.py)
The error is on line 614 in [this build](https://travis-ci.org/goavki/phenny/jobs/309867406): ""test_login (phenny.test.test_irc.Bot

[2017-12-06 17:43] muhammad-mullboccus7 opened #263 "Tests(3) failing for Calc module"
Failing modules: calc.py
https://github.com/goavki/phenny/blob/master/modules/test/test_calc.py
- Failing test: test_c
     The error is on line 510 in this build: ""test_c (phenny.modules.test.test_calc.TestCalc) ... FAIL"

- Failing test: test_c_scientific
     The error is on line 512 in this build: ""test_c_scientific (phenny.modules.test.test_calc.TestCalc)
     ... FAIL"

- Failing test: tes

[2017-12-06 17:46] muhammad-mullboccus7 opened #264 "test_c_scientific failing for calc.py module"
Failing test: test_c_scientific
Failing module: calc.py
The error is on line 512 in this build: ""test_c_scientific (phenny.modules.test.test_calc.TestCalc) ... FAIL"
Link: https://travis-ci.org/goavki/phenny/jobs/309867406

[2017-12-06 17:51] muhammad-mullboccus7 opened #265 "test_c_sqrt failing for Calc module"
Failing test: test_c_sqrt
Failing module: calc.py
The error is on line 513 in this build: ""test_c_sqrt (phenny.modules.test.test_calc.TestCalc) ... FAIL"
Link: https://travis-ci.org/goavki/phenny/jobs/309867406

[2017-12-06 18:00] muhammad-mullboccus7 opened #266 "Tests(2) failing for Imdb module"
Failing module: Imdb.py
https://github.com/goavki/phenny/blob/master/modules/test/test_imdb.py

- Failing test: test_c_imdb
     The error is on line 546 in this build: ""test_imdb (phenny.modules.test.test_imdb.TestImdb) ...
     ERROR"

- Failing test: test_imdb_search
     The error is on line 548 in this build: ""test_imdb_search
     (phenny.modules.test.test_imdb.TestImdb) ... ERROR"

Build

[2017-12-06 18:03] muhammad-mullboccus7 opened #267 "test_imdb_search failing for Imdb module"
Failing test: test_imdb_search
Failing module: Imbd.py
The error is on line 548 in this build: ""test_imdb_search (phenny.modules.test.test_imdb.TestImdb) ... ERROR"
Link: https://travis-ci.org/goavki/phenny/jobs/309867406

[2017-12-06 18:08] muhammad-mullboccus7 opened #268 "Tests(2) failing for Testsearch module"
https://travis-ci.org/goavki/phenny/jobs/309867406

Failing module: TestSearch
[https://github.com/goavki/phenny/blob/master/modules/test/test_search.py
](url)

- Failing test: test_gsearch
     The error is on line 565 in this build: ""test_gsearch
     (phenny.modules.test.test_search.TestSearch) ... ERROR"

- Failing test: test_suggest
     Also on line 567 in the same build:"test_suggest (phen

[2017-12-06 18:16] #264 closed

[2017-12-06 18:16] #265 closed

[2017-12-06 18:20] #267 closed

[2017-12-06 18:30] muhammad-mullboccus7 opened #269 "Tests(6) failing for Bot module"
Failing module: Bot.py

- Failing test: test_action
     The error is on line 613 in this build: ""test_action (phenny.test.test_irc.BotTest) ... ERROR"

- Failing test: test_login
     Also on line 614 in the same build:"test_login (phenny.test.test_irc.BotTest) ... ERROR"

- Failing test: test_msg
     Also on line 615 in the same build:"test_msg (phenny.test.test_irc.BotTest) ... ERROR"

- Fail

[2017-12-07 03:33] #262 closed

[2017-12-07 03:39] muhammad-mullboccus7 opened #270 "test-locations failing for Weather module"
Failing module: weather module (https://github.com/goavki/phenny/blob/master/modules/test/test_weather.py)

- Failing test: test_locations
     The error is on line 599 in this build: ""test_locations
     (phenny.modules.test.test_weather.TestWeather) ... FAIL"

Build log: https://travis-ci.org/goavki/phenny/jobs/309867406

[2017-12-07 10:29] muhammad-mullboccus7 commented on #253
Issues created successfully..
Links:
https://github.com/goavki/phenny/issues/263
https://github.com/goavki/phenny/issues/266
https://github.com/goavki/phenny/issues/268
https://github.com/goavki/phenny/issues/269
https://github.com/goavki/phenny/issues/270

[2017-12-07 10:32] muhammad-mullboccus7 commented on #253
Issues created successfully...
Links:
https://github.com/goavki/phenny/issues/263
https://github.com/goavki/phenny/issues/266
https://github.com/goavki/phenny/issues/268
https://github.com/goavki/phenny/issues/269
https://github.com/goavki/phenny/issues/270

[2017-12-09 05:42] jonorthwash commented on #261
I think this is related:
[code]

[2017-12-10 03:42] wei2912 commented on #213
This issue is now open for students to work on.

[2017-12-10 14:08] wei2912 opened #271 "Replacement for search module"
The search module uses the deprecated Google Web Search API, and no longer works (https://github.com/goavki/phenny/issues/268). A possible replacement for the module could be DuckDuckGo's [Instant Answer API](https://duckduckgo.com/api), which does not provide full search results, but seems to be the best free alternative.

The following requirements should be met (taken from the page, "us" refers

[2017-12-10 14:09] wei2912 commented on #268
The module should be rewritten, as per the requirements outlined in https://github.com/goavki/phenny/issues/271.

[2017-12-10 17:57] jonorthwash commented on #183
So is this issue about the buggy "posted" time, or about users sending the same urls unnecessarily often?

[2017-12-10 18:05] sushain97 commented on #183
I think Unhammer wants begiak to not repeat URL titles if they're repeated within e.g. 10 seconds.

[2017-12-10 18:10] jonorthwash commented on #183
Hmm, I guess that could reduce IRC traffic by a line every now or then, but I'm not sure how often people are posting the same url over and over within a short time frame...  And the log @unhammer shared doesn't give me much sense of the time involved in that particular instance.

[2017-12-10 19:12] unhammer commented on #183
Yes, or even 300 secs …

[2017-12-17 07:24] Techievena commented on #270
Please assign me to this.

[2017-12-17 07:43] Techievena commented on #270
We must add `*.db` to the `.gitignore` file. Unless the binary file gets added unnecessarily.

[2017-12-23 15:35] Androbin commented on #259
What should be the desired behavior?
* Report continuously
* Don't report at all

[2017-12-23 15:40] Androbin commented on #259
Is #249 known to include any other message-related issues?

[2017-12-23 15:47] Androbin commented on #249
Why doesn't `reload.py` just use the `reload` builtin function?

[2017-12-23 17:53] shardulc commented on #249
@Androbin The relevant code has last been changed by me, and I do not recall why I chose to use `imp.load_source` over `reload`. However, I do recall that I debated it, and my decision was based on the fact that "When a module is reloaded, its dictionary (containing the module’s global variables) is retained" (from the Python docs) and some issues with the `git.py` module.

[2017-12-23 17:55] shardulc commented on #259
@Androbin Expected behavior is "report continuously". Also, how is #249 relevant?

[2017-12-23 18:15] Androbin commented on #259
@shardulc Since the mail check seems to be executed on module load and #249 is about the question of when certain code is executed, I thought it would be good to know if there are other related quirks.

[2017-12-23 18:19] shardulc commented on #259
@Androbin Hm, I would say reloading is a different case from what is probably affecting the mail module. But do look into it if you see a connection that would solve both issues.

[2017-12-23 18:22] Androbin commented on #259
@shardulc I don't think they have the same root cause but I'm interested in what parts of the code are affected by a reload. This would help figure out where to move the mail check code.

[2017-12-23 18:25] jonorthwash commented on #259
I think the desired behaviour is:
- report mail as it arrives (e.g., poll mail, like it polls SVN—I believe on receiving a ping, but there may be a better way to do this)
- on rejoin when there's a lot of new mail, perhaps only report the number of new messages (maybe if over 2 or something)

[2017-12-23 19:09] Androbin commented on #259
@jonorthwash There are basically two options:
* Active: Check on certain occasions or in intervals
* Passive: Listening for a "ping"

Currently, we check actively on reload.
It would be great to do it passively.

* We can check on more occasions (someone else joins the room)
* We can check in intervals (every couple of minutes or so)

[2017-12-23 23:53] #209 closed

[2017-12-24 00:00] Androbin commented on #182
How would we classify commits as "merge commits"?
* They contain or start with the word "merge" (nocase)
* They originate from a branch

The hash approach seems most promising.

[2017-12-24 00:08] jonorthwash commented on #259
What are the advantages between listening for a ping from the IRC server versus checking every so often?  It would be good to have fairly instantaneous notifications (i.e., no more than a few minutes' delay), but mailing list emails aren't super frequent either.

[2017-12-24 00:30] Androbin commented on #259
Active checking would:
* give the most control
* be as fast as we want (maybe don't overdo it)
* either require a dedicated thread or be kicked off by various event handlers

Passive checking would:
* presumably be easiest to set up
* be subject to possible delivery delays

[2017-12-24 00:35] shardulc commented on #254
(copying from PR comment)

goavki/phenny doesn't have too many active branches anyway, and reporting commits there is not an issue; fork commits are very infrequently reported for some reason. The branches might be an issue for downstream but in that case, they can fix it, I guess.

[2017-12-24 00:37] shardulc commented on #271
The calculator module should also be rewritten to use a different service, or perform calculations in-house.

[2017-12-24 00:38] Androbin commented on #182
@shardulc What about this one?

[2017-12-24 00:38] shardulc commented on #263
Tests no longer fail (via #274), but #271 notes the need to fix this.

[2017-12-24 00:40] shardulc commented on #182
@sushain97 and I agreed that the best solution to this is to make squash commits while merging, instead of blocking the messages (it's a good practice anyway). I would suggest you work on #236 which kind of includes this issue.

[2017-12-24 00:41] shardulc commented on #182
@Androbin Or, maybe #252 and the issues linked from it. Solving all of those in one go would be sufficient for a GCI task.

[2017-12-24 00:46] shardulc commented on #266
As outlined in #274, we need an API key for IMDB.

[2017-12-24 00:47] shardulc commented on #269
Fixed via #274.

[2017-12-24 00:47] #269 closed

[2017-12-24 00:48] shardulc commented on #270
Fixed via #274.

[2017-12-24 00:48] #270 closed

[2017-12-24 00:50] shardulc commented on #155
Duplicate of #260.

[2017-12-24 00:50] #155 closed

[2017-12-24 00:51] shardulc commented on #239
Fixed via 413ffd0.

[2017-12-24 00:51] #239 closed

[2017-12-24 00:53] #253 closed

[2017-12-24 01:06] Androbin commented on #182
I've decided to try #236 and look into other modules if things go well.

[2017-12-24 04:57] jonorthwash commented on #254
Uh.. so what was decided?

[2017-12-24 18:41] jonorthwash commented on #254
?

[2017-12-24 19:23] jonorthwash commented on #254
As should be visible from @flammie's example payload, this isn't about branches of phenny.  There are lots of other repos we track, and many of them have branches.

[2017-12-25 00:36] #236 closed

[2017-12-25 00:47] Androbin commented on #131
Shouldn't `group(3)` simply be `None`?
Could you provide further details on the "crash"?

[2017-12-25 04:28] jonorthwash commented on #131
I think it's because `input` doesn't isn't guaranteed to have more than 3 groups.  If it has e.g., only 2 groups and you do `.group(3)`, then it does not return `None` and instead crashes.

[2017-12-25 05:15] wei2912 opened #278 "Replacement for 'calc' module"
The calc module depends on DuckDuckGo instant answers (which is due to be reimplemented in the search module in https://github.com/goavki/phenny/issues/271) and Wolfram Alpha (which now requires users to pay for API requests), in the two commands implemented. Both commands no longer work as DDG does not handle calculator requests correctly, while WA requires payment. Using [SymPy](http://www.sympy

[2017-12-25 10:32] Androbin commented on #131
Isn't `group` supposed to be set to `match.group` ?

[2017-12-25 21:35] jonorthwash commented on #131
I'm not sure there's a variable named `group` in there.

[2017-12-25 21:45] Androbin commented on #131
I was referring to the following lines:
https://github.com/goavki/phenny/blob/master/bot.py#L189
https://github.com/goavki/phenny/blob/master/bot.py#L229

[2017-12-25 22:29] Androbin commented on #261
Could you describe how to re-produce the crash (with the old code)?

[2017-12-25 22:37] jonorthwash commented on #131
Yes, but that's still a match object, and will crash instead of returning `None`.  Right?

[2017-12-25 22:38] jonorthwash commented on #261
Start phenny.

I believe the scraper is failing.  We probably need another data source.

[2017-12-25 22:40] Androbin commented on #131
Well, the documentation says that `match.group` should return `None` here:
https://docs.python.org/3/library/re.html#re.match.group

I don't get why this would crash here.

[2017-12-25 22:44] Androbin commented on #261
[code]

doesn't crash for me. Could you be more precise, please?

[2017-12-25 22:56] Androbin commented on #183
Quick clarification: Is this about the `head` modules `snarfuri` method?

[2017-12-25 23:01] shardulc commented on #232
Closed with #277 in b4db977.

[2017-12-25 23:01] #232 closed

[2017-12-25 23:09] shardulc commented on #183
@Androbin Mostly, yes. I'm not sure but I think the Wikipedia module, maybe others, also use the posted database to check URLs; just to be sure, you should take a look.

[2017-12-25 23:44] jonorthwash commented on #131
It does?  I see the following:

[2017-12-25 23:47] Androbin commented on #131
But this refers to the number of groups in the pattern, not the number of groups matched.

[2017-12-26 00:03] jonorthwash commented on #261
Try checking out the parent commit, https://github.com/goavki/phenny/commit/749a6b6ef3f7f43c1978d3e51586773cf95c5a18

[2017-12-26 00:06] Androbin commented on #261
See the tilde ~ ? It means "parent"

[2017-12-26 00:06] jonorthwash commented on #131
Okay.  Can you try to reproduce the failure?  I may have the reasoning wrong, but what I did did prevent the code from failing at that point.

[2017-12-26 00:08] jonorthwash commented on #258
Duplicate of #133.

[2017-12-26 00:08] jonorthwash commented on #133
See comments in #258.

[2017-12-26 00:08] Androbin commented on #131
Gimme a moment. I'll try.

[2017-12-26 00:27] jonorthwash commented on #261
Ah.  Hmm.  Could you simulate what happens if it gets a random web page instead of the one it's managing to get?

[2017-12-26 00:35] Androbin commented on #261
I'll mock the URL and insert some logging.

[2017-12-26 17:09] Androbin opened #281 "[More] add_messages > break_up logic is broken"
Method [`add_messages`](https://github.com/goavki/phenny/blob/master/modules/more.py#L28) in `modules/more.py` has defaulted parameter `break_up` which dictates how to split the messages to be added.
The default `break_up` logic is given by [`break_up_fn`](https://github.com/goavki/phenny/blob/master/modules/more.py#L10) which enforces the maximum message length of 430.
In part because [this line]

[2017-12-26 17:10] Androbin commented on #281
@shardulc If you don't mind, I'd like to do this and two others in the next GCI task.

[2017-12-26 17:55] #183 closed

[2017-12-26 19:54] #133 closed

[2017-12-26 19:57] shardulc commented on #258
Closed via #279.

[2017-12-26 19:57] #258 closed

[2017-12-26 19:59] shardulc commented on #281
@Androbin Sure, that works. Before you start, though, please demonstrate the faulty behavior.

[2017-12-26 20:18] Androbin commented on #281
* if `msg` is a list `str(msg)` produces `['lorem ipsum', 'dolor sit amet']` and it'll print that literally!
* if `msg` is a string `str(msg)` is a no-op and it will just print the message.

The work-around works as follows:
* `'\n'.join(msgs)` produces a string which doesn't have the error.
* `msg.split('\n')` will give back the original list

The following problems arise:
* Individual messages m

[2017-12-26 21:53] Androbin opened #287 "Unified message breaking"
The `more` module implements a clean message [breaking function](https://github.com/goavki/phenny/blob/master/modules/more.py#L10).
Meanwhile other modules implement their own breaking or sometimes truncating (#286).
Unifying this logic would also resolve #213.

[2017-12-26 22:01] Androbin commented on #159
@wei2912 Which other modules do you think would benefit the most?

[2017-12-26 22:19] jonorthwash commented on #259
Yeah, I know it works sometimes.  But it randomly (and inconsistently) stops working, and then on join it'll start posting all sorts of stuff.  Perhaps grep the logs for the last time this happened, and see if the code's been updated since then?

[2017-12-26 23:13] Androbin commented on #287
@shardulc waiting for #281.

[2017-12-27 00:42] Androbin commented on #182
@shardulc Shall we close this then?

[2017-12-27 00:42] Androbin commented on #174
Is this issue still up-to-date?

[2017-12-27 00:53] Androbin commented on #252
This could either be a pure duplicate of #159 or we could intercept all calls to `phenny.msg` and thus have a "general all-purpose flood control". The latter doesn't seem quite right, thou.

Since we don't wanna break things, we could give `phenny.msg` a defaulted parameter to indicate if flood control should be applied or if the calling side knowns what it's doing.

[2017-12-27 06:42] wei2912 commented on #252
Flood control should be module specific. There are times when information
should not be suppressed by an automatic filter, but rather, left to the
discretion of the module.

A solution to #159 should be adequate to address the issue.

On Wed, 27 Dec 2017, 01:53 Robin Richtsfeld, <notifications@github.com>
wrote:

[2017-12-27 06:44] #182 closed

[2017-12-27 06:44] wei2912 commented on #182
Certainly. I will close this issue.

On Wed, 27 Dec 2017, 01:42 Robin Richtsfeld, <notifications@github.com>
wrote:

[2017-12-27 06:46] wei2912 commented on #244
Tapering off would be a nice solution to this issue IMO.

[2017-12-27 06:51] wei2912 commented on #259
BTW the more module should be a decent solution to reporting on mail sent
when there's a lot of new mail.

On Tue, 26 Dec 2017, 23:19 Jonathan Washington, <notifications@github.com>
wrote:

[2017-12-27 06:52] wei2912 commented on #259
For reference, https://github.com/goavki/phenny/issues/159

[2017-12-27 06:54] wei2912 commented on #159
Scrolling through wiki pages would lead to too much spam IMO, and isn't particularly helpful. I will link to this issue whenever I find something that can be rewritten with the more module.

[2017-12-27 06:57] wei2912 commented on #281
Default logic should split up any messages that exceed the maximum message
length. But such logic might already be implemented in bot.py. I'll check
and let you know soon.

On Tue, 26 Dec 2017, 21:19 Robin Richtsfeld, <notifications@github.com>
wrote:

[2017-12-27 11:43] Androbin commented on #281
@wei2912 Now that you mention it:
https://github.com/goavki/phenny/blob/master/irc.py#L185

[2017-12-27 11:44] Androbin commented on #281
Does this mean we can get rid of the break-up logic in the `more` module altogether?
This could even make for a more consistent `.more` behavior.

[2017-12-27 15:35] Androbin commented on #259
Will do this as part of the next task.
Waiting for #284 to get merged.

[2017-12-27 18:30] Androbin commented on #254
@jonorthwash If you want, you can revive #275.

[2017-12-27 18:53] wei2912 commented on #281
I believe so, but please test it carefully.

The constant MAX_MSG_LEN should be retained (and in fact placed in the
config file for users to edit, and used in irc.py) in code determining how
to split certain messages. The default behaviour should be splitting by
spaces (as in irc.py), but certain modules may adopt alternative ways of
splitting.

The original reason for break_up_fn was to ensure th

[2017-12-27 18:55] shardulc commented on #281
Actually I feel that having the break-up logic and the 430-character limit in `more` makes sense, so that modules can just use `more` whenever their messages are long. Otherwise, things passed to `phenny.msg` that are over 430 characters will just be truncated, encouraging someone to shift that module to `more`.

[2017-12-27 18:57] wei2912 commented on #281
They don't seem to be truncated. Rather, they are split up.

On Wed, 27 Dec 2017, 19:55 Shardul Chiplunkar, <notifications@github.com>
wrote:

[2017-12-27 19:01] jonorthwash commented on #174
The level of control is still not what would be ideal, I believe.

[2017-12-27 19:02] jonorthwash commented on #174
Though perhaps it's okay—we just have to specify per-channel repos.  Why don't you investigate? :)

[2017-12-27 19:06] Androbin commented on #281
* Splitting at spaces (like `break_up_fn`) is already done by `irc.py`
* Newlines are dropped by `irc.py` which was part of the reason for the work-around.
* If another module wants to do some custom splitting, it can do so before handing them over.
* PR #284 implements the newline splitting in `irc.py` next to the max-length splitting.

[2017-12-27 19:28] shardulc commented on #281
What about:
 - `truncate` function from `git.py` moved to `tools.py`
 - `irc.py` uses that function blindly
 - `more.py` also uses that function, but takes care of lists of messages with newlines along with the queueing

[2017-12-27 19:37] jonorthwash commented on #259
I'm curious how this would work.  For example, on join begiak might say:
[code]

When you type `.more`, how will it know which you mean?  Or how many to give you?  Might it be better to say `.show svn 3` or something?

[2017-12-27 19:38] jonorthwash commented on #259
Or even `.next svn 3`

[2017-12-27 19:40] Androbin commented on #281
Wouldn't it be an unnecessary burden for modules to have to be constantly aware of their messages subject to truncating?
Your idea should be fine if we make `irc.py` split at newlines instead of dropping them altogether.

[2017-12-27 19:44] Androbin commented on #259
Currently, messages are queued in the order they arive in.
If anything calls `add_messages` it's guaranteed that they come in a row.
But I do like @jonorthwash 's idea to be able to "tag" messages like this.
I might look into this as part of the next task.

[2017-12-27 19:47] Androbin opened #292 "Have .more messages be (optionally) tagged"
See https://github.com/goavki/phenny/issues/259#issuecomment-354166715 for reference.

[2017-12-27 20:51] Androbin commented on #281
See [#284](https://github.com/goavki/phenny/pull/284/files#diff-fc8ffb45857c1b6539f3506c6c16a515R175) for the latter.

[2017-12-28 03:03] jonorthwash commented on #259
The issue isn't the order they're displayed in, but preventing it from showing one line for each of the 15 new messages that it hasn't reported.

[2017-12-28 13:49] Androbin commented on #259
The first message you get from `.more` is from whatever module calls `add_messages` first.
Meaning, it won't print "one line for each of the 15 new messages that it hasn't reported".
But I think nonetheless that the syntax you proposed will be helpful.

[2017-12-28 14:53] wei2912 commented on #259
Agreed. I will create an issue to add in this functionality.

On Thu, 28 Dec 2017, 14:49 Robin Richtsfeld, <notifications@github.com>
wrote:

[2017-12-28 14:53] wei2912 commented on #292
it would be useful to store messages indexed by receiver (channel/user requesting command) and command called. Such an implementation should save the messages to a database.

[2017-12-28 14:54] Androbin commented on #259
@wei2912 Already have -> #292

[2017-12-28 19:58] #261 closed

[2017-12-28 20:34] #131 closed

[2017-12-28 22:25] #244 closed

[2017-12-28 23:33] Androbin commented on #260
This is not an error per se. This is expected behavior. See https://github.com/goavki/phenny/issues/155#issuecomment-164401429 for reference.
@unhammer Do we want to decode these characters nonetheless?

[2017-12-28 23:53] shardulc commented on #260
It is an error because humans want to see the actual characters, not the email Unicode encoding.

[2017-12-28 23:55] Androbin commented on #260
@shardulc "per se" as in "that IS the literal content of the email".
But as any "good" mail interface, we wanna translate that for users.

[2017-12-29 00:01] #281 closed

[2017-12-29 00:45] Androbin commented on #287
Mostly resolved as of #284.

[2017-12-29 00:45] #287 closed

[2017-12-29 01:02] Androbin commented on #287
Some custom breaking and/or truncating may still be in place (like #295).

[2017-12-29 01:21] Androbin opened #296 "tell.py messageAlert for more.py"
The `tell` module has a function [`messageAlert`](https://github.com/goavki/phenny/blob/master/modules/tell.py#L266) triggered on `JOIN` which notifies the user of messages added via [`message`](https://github.com/goavki/phenny/blob/master/modules/tell.py#L228).
I feel like this would be useful for the `more` module as well.
We could e.g. trigger [`more`](https://github.com/goavki/phenny/blob/mast

[2017-12-29 01:42] Androbin commented on #259
@jonorthwash Seems like somehow, the `mailing_list_timer` isn't restarted.
But without a working configuration I can't tell why that is exactly.
Are there any known occasions of `login` failing for no good reason?

[2017-12-29 01:59] Androbin commented on #252
@wei2912 Let's close this as a duplicate then?

[2017-12-29 02:03] Androbin commented on #249
@shardulc Since the issue is to get rid of old references, what would a cold-start look like?
Meaning, could we programatically tear down all modules and reload them from scratch?

[2017-12-29 02:07] Androbin commented on #174
We already have `git_channels` to control which channels to post to.
Maybe we could extend the configuration scheme of #275 to include non-branches?

[2017-12-29 02:08] Androbin commented on #150
@wei2912 How would that look like conceptually?

[2017-12-29 10:52] Androbin commented on #175
@unhammer
https://en.wikipedia.org/wiki/ISO_639:pun
gets redirected now to
https://en.wikipedia.org/wiki/Lampung_language
The latter of which doesn't seem to contain any codes?

[2017-12-29 10:57] Androbin commented on #175
What about some 639-5 codes?
https://en.wikipedia.org/wiki/List_of_ISO_639-5_codes

[2017-12-29 12:24] Androbin commented on #292
@wei2912 How about allowing the caller to pass any tag, not necessarily the command name, e.g. the module name?

[2017-12-29 12:26] Androbin opened #299 "Save .more messages to a database"
The dictionary `phenny.messages` should be turned into a SQL table and mapped to disk.

[2017-12-29 12:27] Androbin commented on #292
Waiting for #299.

[2017-12-29 14:10] Androbin commented on #133
There is a case where `SO_REUSEADDR` won't be enough.
See https://stackoverflow.com/a/6380198 for reference.

[2017-12-29 14:37] gstark0 opened #300 "Add website translation by command"
How about adding whole website translation to begiak? Something like:
.tweb eng-spa google.com or .t web eng-spa google.com
And begiak would generate link to translated website:
 https://www.apertium.org/index.eng.html?dir=eng-spa&qP=google.com#webpageTranslation
I think it would be pretty useful :)

[2017-12-29 15:39] gstark0 opened #302 "NameError: name 'phenny' is not defined"
Traceback (most recent call last):
  File "./phenny", line 222, in <module>
    main()
  File "./phenny", line 219, in main
    run(config_module) # @@ thread this
  File "/home/apertium/Desktop/p/phenny/__init__.py", line 64, in run
    t.run()
  File "/usr/lib/python3.5/threading.py", line 862, in run
    self._target(*self._args, **self._kwargs)
  File "/home/apertium/Desktop/p/phenny/__init__.

[2017-12-29 15:55] ImmortalShox commented on #302
Fixed in #301

[2017-12-29 16:23] Androbin commented on #300
So, basically, you would have a template string and just substitute the arguments passed?
How about printing the raw text directly into the chat? Let's say, using the `more` module?

[2017-12-29 16:25] ImmortalShox commented on #300
@Androbin That could be pretty good idea as additional parameter :)

[2017-12-29 16:28] ImmortalShox commented on #300
@Androbin But it would need communicate with Apy somehow I guess?

[2017-12-29 16:30] Androbin commented on #300
No deal, we can access https://www.apertium.org/apy/translatePage?langpair=eng%7Cspa&markUnknown=no&url=example.com

[2017-12-29 16:31] Androbin commented on #300
See [git.py](https://github.com/goavki/phenny/blob/master/modules/git.py#L91) as reference for parsing.

[2017-12-29 16:32] ImmortalShox commented on #300
@Androbin Cool, I will take a look at it :)

[2017-12-29 19:34] Androbin commented on #302
@ImmortalShox Can we close this then?

[2017-12-29 19:54] jonorthwash commented on #260
No one said it was an error.  But it is an issue that should be fixed.

[2017-12-29 20:03] jonorthwash commented on #174
This is what the list currently is:
[code]
My impression is that it works as expected.  @unhammer , is this not the case?

[2017-12-29 20:03] jonorthwash commented on #174
I think e.g. `omorfi` commits get posted everywhere?  So the behaviour is similar to what is being suggested too?

[2017-12-29 20:06] jonorthwash commented on #259
I'm not sure about `login`.  How would I be able to tell?

[2017-12-29 20:52] Androbin commented on #174
* Commits on branches and/or forks are only ever posted to `phenny.config.branch_channels[repo_fullname][ref]` (if such exists)
* Commits on `'refs/heads/master'` are posted to `phenny.config.git_channels[repo]` if such exists and to `self.phenny.config.channels` if not

[2017-12-29 21:04] Androbin commented on #260
@jonorthwash Wanna take a look at #298?

[2017-12-29 21:21] Androbin commented on #299
Will do this as part of the next GCI task.

[2017-12-30 03:27] #260 closed

[2017-12-30 07:11] JPJPJPOPOP opened #304 ".time gives the wrong time for some zones"
For some reason, begiak gives the wrong time for PST.

![screen shot 2017-12-29 at 11 09 41 pm](https://user-images.githubusercontent.com/13565154/34452146-9e2f9768-eced-11e7-8aaa-aa6ec3b983a1.png)

Seems like 8 hours off.

IST seems to be off too.
![screen shot 2017-12-29 at 11 19 51 pm](https://user-images.githubusercontent.com/13565154/34452191-d93ebe50-ecee-11e7-8f01-c597074c1af9.png)
![screen

[2017-12-30 18:12] Androbin opened #305 "test_locations is broken"
[This test](https://github.com/goavki/phenny/blob/master/modules/test/test_weather.py#L22) keeps failing due to the data source constantly changing its output.
This can often block any innocent change.

We should either remove, skip or fix this test.

[2017-12-30 18:15] gstark0 commented on #305
IMHO we should just edit so instead of post codes it would search and check by location, like it is with Berlin in that testing unit.

[2017-12-30 21:11] shardulc commented on #292
Another useful thing would be an admin method to clear the queue for a specific tag. (E.g. begiak gets a lot of git commits from a merge or something, and an admin decides they want to clear that queue without looking at all the commits because further commits are more important.)

[2017-12-31 12:17] wei2912 commented on #292
@Androbin That is possible, but the simplest solution IMO would be just the command name. A tag system may be overkill.

[2017-12-31 12:24] wei2912 commented on #292
@shardulc The current implementation pops the retrieved message from the queue upon each "call" of the command, which I think is sufficient, as the module isn't meant to deal with long lists of messages that need to be viewed. (If there are long lists of messages, a permanent pastebin should be provided instead.)

This is why I don't think the module should be used to, say, store git commit messag

[2017-12-31 19:15] #278 closed

[2017-12-31 20:33] Androbin commented on #292
@wei2912 Some commands can be called by more than one name.
How about we allow multiple tags and `SELECT [...] WHERE input IN tag` ?

[2018-01-01 15:09] Androbin commented on #152
I can't reproduce Case 2: `NoneType object`

[2018-01-01 15:19] Androbin commented on #152
Case 5: Closing bracket in URL is not counted as part of the URL:
`<androbin> .wik 59th Street (Manhattan)`
`<phenny> "Coordinates: 40°46′09″N 73°59′05″W﻿ / ﻿40" - `[`https://en.wikipedia.org/wiki/59th_Street_(Manhattan`](https://en.wikipedia.org/wiki/59th_Street_\(Manhattan)`)`

[2018-01-01 18:15] #213 closed

[2018-01-01 18:25] #254 closed

[2018-01-01 20:20] Androbin opened #311 "Move the default config into a file of its own"
Why do we even have this inline?

[2018-01-01 21:25] Androbin commented on #263
@shardulc now we got #307.

[2018-01-01 22:50] Androbin commented on #311
@sushain97 Friendly ping.

[2018-01-01 22:55] sushain97 commented on #311
i dunno, probably from upstream and should be in its own file

[2018-01-01 23:59] Androbin commented on #311
https://github.com/goavki/phenny/blob/master/phenny#L29

[2018-01-02 00:05] sushain97 commented on #311
Sure, probably should be in its own file

[2018-01-02 00:32] Androbin opened #313 "Chaotic logging"
Error messages often get lost in unnecessary noise.
We should use the `logging` module with appropriate log levels.

[2018-01-02 15:02] Androbin commented on #292
@wei2912 Some commands can be called by more than one name.
How about we allow multiple tags and `SELECT [...] WHERE input IN tag` ?

[2018-01-02 17:08] Androbin commented on #152
Can't reproduce issues described by @jonorthwash .

[2018-01-02 17:13] Androbin commented on #152
Case 2 fixed by f0b9876ede91f64bf65c9e85de73525c528ed907.

[2018-01-02 22:55] Androbin commented on #150
@wei2912 How would that look like conceptually?

[2018-01-03 00:03] #299 closed

[2018-01-03 00:16] Androbin opened #318 "more module not accounting for max_message_length"
[This line](https://github.com/goavki/phenny/blob/master/modules/more.py#L94) doesn't account for the fact that the given message might already be near the maximum message length.
This results in ugly message breaking. See https://github.com/goavki/phenny/pull/306#issuecomment-354682531 for reference.
@shardulc /cc

[2018-01-03 00:21] shardulc commented on #318
Should not be hard to fix. Instead of using `break_up` at the full `max_message_length`, subtract the required number of characters (with a comment explaining why, of course), regardless of whether the "remaining" bit is going to be added or not. Test for messages greater than `max_message_length` and messages close to `max_message_length` will have to be added too.

[2018-01-03 00:24] Androbin commented on #318
It's "not hard to fix" IF you know how it should behave.

But it's not that easy:
* We don't have a limit on the length of `(XXX remaining)` part
* Breaking is done on adding, `XXX` is known on retrieving

[2018-01-03 00:26] Androbin commented on #318
Besides, we could potentially break other code calculating with `max_message_length`.

[2018-01-03 00:27] shardulc commented on #318
Sure, not a hard limit, but it's a safe bet that it's never going to exceed 1000 messages?

Which is why I said "subtract the required number of characters ... regardless of whether the "remaining" bit is going to be added or not". I'm not saying the value of `max_message_length` should be globally changed, only locally for the `more` module. I.e. another argument to `break_up`.

[2018-01-03 00:29] Androbin commented on #318
Still a bit hacky. Also, we'll have to maintain that number.

[2018-01-03 00:43] Androbin commented on #263
@shardulc Should be resolved as of #307?

[2018-01-03 00:44] Androbin opened #319 "Make databases work on Travis"
For example https://github.com/goavki/phenny/blob/master/modules/test/test_clock.py#L20

[2018-01-03 01:29] Androbin opened #320 "Use MediaWiki API"
This would fix #151 and #152 amongst others.
See https://github.com/goavki/phenny/pull/316#issuecomment-354917275 for reference

[2018-01-03 01:51] Androbin commented on #304
![node](https://user-images.githubusercontent.com/16437156/34506900-04c3a49c-f031-11e7-986f-25e45e212556.png)

[2018-01-03 12:39] Androbin opened #322 "Handle multiple time zones with same acronym"
See https://github.com/goavki/phenny/pull/315#issuecomment-354923469 for reference

[2018-01-03 16:58] flammie commented on #174
Is this integrated now? I switched omorfi webhook back on to deliver the messages, but any push to a branch seems to come up as:
[code]
(might also be unrelated / another bug)

[2018-01-03 17:17] Androbin commented on #174
@flammie I think I provoked that issue, but it should be fixed in current `master`.

[2018-01-03 17:37] Androbin commented on #318
Queuing, Saving and Retrieving should be independent of Displaying.

The current behavior as described in https://github.com/goavki/phenny/pull/277#issuecomment-353811741:
* If `count` is provided and is greater than 1, `X remaining messages` should be a separate message.
* Else, append `(X remaining)` to the single message that `.more` will output.

For `count == 1` (including implicit), we shoul

[2018-01-03 19:03] Androbin commented on #322
@shardulc Is there a good reason not to split the `dict` into `Abbreviation -> Offset` and `Country Code -> Offset` ? This would make things somewhat less complicated.

[2018-01-03 19:06] shardulc commented on #322
I don't think I understand what you're suggesting. Can you give a short example of how the two `dict`s would work?

[2018-01-03 19:06] Androbin commented on #322
And why don't we just remove the broken `citytimezones` code instead of just commenting it out?
I mean, what do we have version control for?

[2018-01-03 19:10] Androbin commented on #322
Currently `phenny.tz_data` is `some_identifier -> offset`.
But `some_identifier` can be either an abbreviation like `PST` or a country name like `Ecudaor`.
Both are sourced from different Wikipedia sites/tables and are to be handled differently (e.g. this issue) but they are just thrown together into this one dict.

[2018-01-03 19:11] Androbin commented on #322
I would split this dict into two separate dicts, one for each case.

[2018-01-03 19:14] shardulc commented on #322
That would still not help the `.time PST` issue.

[2018-01-03 19:16] Androbin commented on #322
Not directly, but since this requires changes to the data format, it would make it easier to have them separate.

[2018-01-03 19:16] shardulc commented on #292
@wei2912 Hmm, I thought the main reason we are using .more is to not spam the channel with messages precisely from modules like `git.py` or the `.queue` command, which tend to produce long and plentiful messages. When there are a bunch of git messages all at once they are not going to be "essential" as they form parts of a single change.

[2018-01-03 19:17] Androbin commented on #322
See, the issue only applies to the abbreviation case, not to the country name case.

[2018-01-03 19:18] shardulc commented on #322
Suppose you did make the separate dicts. Then what happens when I call `.time PST`? I'm still not getting it.

[2018-01-03 19:20] Androbin commented on #322
It would check both dicts and in the case of the abbreviation dict, it would retrieve a list of tuples `(full_name, offset)` while in the case of the country name dict, it won't find an matching offset.

[2018-01-03 22:46] Androbin commented on #322
The problem mentioned is also known as ["Beware the Share"](http://programmer.97things.oreilly.com/wiki/index.php/Beware_the_Share).

[2018-01-04 05:36] jonorthwash opened #328 "crash on start"
I get the following crash when begiak starts now:
[code]

[2018-01-04 05:37] jonorthwash commented on #328
@Androbin, could you take a look at this?

[2018-01-04 05:49] sushain97 commented on #328
I reverted https://github.com/goavki/phenny/commit/f5e6ffb48c8f88a97b9081df74bccb9b162fb62c which probably caused this.

[2018-01-04 05:50] jonorthwash commented on #328
Seems to be better now, yeah...

[2018-01-04 05:50] #328 closed

[2018-01-04 05:52] jonorthwash commented on #174
`#apertium` is running latest master, and it seems to not be fixed.  We just got this:

[2018-01-04 05:53] jonorthwash opened #329 "git module having trouble with some pushed messages"
We're getting this for a lot of stuff now:
[code]

[2018-01-04 05:53] jonorthwash commented on #329
@Androbin

[2018-01-04 05:57] shardulc commented on #322
Ah, so this is the part of your suggestion that actually fixes the issue. The separation of dicts is another matter.

[2018-01-04 06:05] #311 closed

[2018-01-04 06:46] jonorthwash commented on #152
Here it seems to be reading from the infobox:
[code]

[2018-01-04 07:07] jonorthwash commented on #152
Which ones specifically?

[2018-01-04 12:16] Androbin commented on #152
`.wik CUNY` and `.wik Obama` return expected results for me.

[2018-01-04 12:20] Androbin commented on #322
Actually, it's not that massive because of the separation.
In fact, it's that massive because fixing the issue required updating the logic on the rest of the code.
It was essentially copy-pasted code that just wanted to "get the next-best offset by name".
Since I didn't want to rewrite each copy, I've just put it in an extra function and just called that.

[2018-01-04 12:48] Androbin commented on #329
This should be a harmless message since it only indicates that we generated no messages.
First of all, we should probably produce a more informative error message.

[2018-01-04 12:53] Androbin commented on #328
I have identified the cause and fixed it in the new PR #330.

[2018-01-04 13:09] Androbin commented on #322
Actually, it's not that big of a changeset because of the separation.

In fact, it's that big of a change set because fixing the issue required rewriting the writing to and reading from database and updating the logic of accessing the data in the rest of the code.

It was essentially copy-pasted code that just wanted to "get me an offset by name".
Since I didn't want to rewrite each copy, I've jus

[2018-01-04 13:11] Androbin commented on #322
By the way, "Beware the Share" regarding the structure, not use of the dicts.

[2018-01-04 13:12] Androbin commented on #318
@shardulc Can we agree on one of these variants?

[2018-01-04 19:35] Androbin commented on #329
I think I know what's going on now.

[2018-01-04 19:36] Androbin commented on #329
`push` events on forks are ignored by default.

[2018-01-04 19:36] Androbin commented on #329
@sushain97 /cc

[2018-01-04 19:36] Androbin commented on #329
@shardulc /cc #275

[2018-01-04 19:53] sushain97 commented on #329
That sounds like proper behavior to me. Let's just get rid of the error message in IRC.

[2018-01-04 19:56] Androbin commented on #329
@sushain97 I will send a PR no suppress this message if we already know the payload was dealt with.

[2018-01-04 20:04] Androbin commented on #329
I just updated PR #332 to suppress this message if we already know the payload was dealt with.

[2018-01-04 20:05] Androbin commented on #318
@shardulc Can we agree on one of these variants?

[2018-01-05 02:02] Androbin commented on #292
@wei2912 Some commands can be called by more than one name.
How about we allow multiple tags and `SELECT [...] WHERE input IN tag` ?

[2018-01-05 03:16] wei2912 commented on #292
@shardulc hmm, fair point on having a bunch of git messages all at once. The more module is only designed to deal with a single piece of output, and not multiple. Such a retrieval system may be complicated to construct - does @Androbin have any ideas? Alternatively, I'd propose just putting those messages into a single message in the git module.

As for the queue command, it makes sense to use the

[2018-01-05 03:18] wei2912 commented on #292
@Androbin You just need to store the messages by tagging the function that is executed with a specific identifier (since different aliases for the same command will eventually run that function).

[2018-01-05 04:47] jonorthwash commented on #152
I'm still getting this:
[code]

Perhaps the CUNY one was due to some issue with the page at that time (though I did investigate superficially then and it didn't seem to be).

Also, what about all those other tests I mentioned?  Are you able to reproduce them?

[2018-01-05 05:17] shardulc commented on #318
I think this works best.

[2018-01-05 05:58] jonorthwash opened #333 "uninformative informational message"
This message doesn't give enough info:
https://github.com/goavki/phenny/blob/2b0418d0b35dc6d4e7b5e3531f216bcaac8e9554/modules/apertium_wikistats.py#L31

You have to look at the code to know what's expected in the config file—which isn't necessarily default.py btw!

[2018-01-05 07:13] jonorthwash opened #334 "updated begiak is screwed up with untested broken code"
When starting begiak cold, we now get this:

[code]

We also get the following:

[code]

Begiak then disconnects and reconnects.

@gstark0 @androbin

[2018-01-05 10:29] gstark0 opened #335 "Tests failing for lastfm.py module"
Sometimes some functions in test_lastfm return errors:

`[Errno 110] Connection timed out'`

[2018-01-05 13:53] gstark0 commented on #334
I would say, the issue is in #330 :)

[2018-01-05 15:04] Androbin commented on #334
@gstark0 No, this is an entirely different issue.
This is #133 which I have partly solved in #279.

[2018-01-05 15:06] gstark0 commented on #334
@Androbin Okay, no problem, this was just a guess, as I saw something was done with Ping-Pong :)

[2018-01-05 15:07] Androbin commented on #334
For reference on the Ping-Pong topic, please see https://github.com/goavki/phenny/pull/330#discussion_r159740863.

[2018-01-05 15:09] gstark0 commented on #334
It's pretty weird, I don't see any issues running it locally.

[2018-01-05 15:10] Androbin commented on #334
Please see the original issue. This error is about the port still "in use" from a previous run.

[2018-01-05 15:16] Androbin commented on #334
To resolve this completely, `SO_REUSEADDR` may sometimes not be sufficient.

Be basically have two options here:
* Retry until the port has timed out
* Force the port to be released (with fire)

[2018-01-05 15:27] Androbin commented on #292
I have solved this two weeks ago in #277, merged in b4db977041c01b0ef369e36bd705964a53a8dc49.

[2018-01-05 15:29] Androbin commented on #292
The user may type either alias which means a given message has to be associated with both aliases.

[2018-01-05 15:35] Androbin commented on #152
Just realized that I had tested with #316 which also should have gotten rid of the infocard issue.

[2018-01-05 15:36] Androbin commented on #152
Either way #320 should resolve all of this.

[2018-01-05 16:46] Androbin commented on #334
There seem to be important differences between client and server sockets.
I think https://stackoverflow.com/a/18858817/4969370 should work for us.

[2018-01-05 17:23] gstark0 commented on #150
I'm also interested, seems cool idea.

[2018-01-05 17:40] gstark0 opened #340 "Replacement for .suggest"
Currently .suggest command doesn't work because the website it requests is down (and probably won't be online anymore). It would be cool to have suggestions using Google Suggestion API (which works), and combine it with .more module.

[2018-01-05 17:55] gstark0 opened #341 "Make .time to show time difference between timezones"
E.g ".time GMT IST" and it would show time difference between this two.

[2018-01-05 18:28] Androbin commented on #150
Let's just make sure we don't end up with something like #131 again.

[2018-01-05 21:40] Androbin opened #343 "Handle connection timeouts for all unit tests"
Sometimes tests request data but either the connection or the build time out (after half an hour).
We should consider setting a limit on how much time a test may take.
Then we can either skip the test or declare it failed.

[2018-01-05 21:41] Androbin commented on #335
Let's continue with #343 ?

[2018-01-05 21:55] gstark0 commented on #335
Irrelevant, but if you want, we can move there, nice to see it's more general issue.

[2018-01-05 21:56] Androbin opened #345 "Add missing is_up tests"
For example: `test_iso639` or other tests for modules which scrape data.

[2018-01-05 21:57] Androbin commented on #343
If possible, implementing #345 is preferable.

[2018-01-05 21:58] Androbin commented on #335
Your case may also suffer from #345.

[2018-01-05 22:01] gstark0 commented on #345
What's wrong with test_search?

[2018-01-05 22:05] Androbin commented on #345
See [travis/325602916#L688](https://travis-ci.org/goavki/phenny/jobs/325602916#L688) for reference.
If a `is_up` check is already in place, it may be that is is not short after the check.
In this case, see #343 for a catch-them-all solution.

[2018-01-05 22:58] jonorthwash commented on #334
Nope, it's still in a join/part cycle, claiming this:
[code]

[2018-01-05 22:59] jonorthwash commented on #334
When it comes back, it says this:
[code]

[2018-01-05 22:59] jonorthwash commented on #334
Last night I saw something about too many open files before it stopped.

[2018-01-05 23:21] Androbin commented on #334
I think I have figured why this still happens on all-cold restarts.
The issue is about some resources not **fully** released by the exit handler I installed.

[2018-01-05 23:55] Androbin commented on #343
Alternatively, set timeouts directly to all connections.

[2018-01-05 23:57] Androbin commented on #302
Can we close this issue then?

[2018-01-06 00:06] Androbin commented on #319
Don't know about all ways for this to fail but sometimes it's just about `~/.phenny` not existing which may be resolved like
https://github.com/goavki/phenny/commit/af1027e2436eefd0296bf0a739983cfd763061d7#diff-f6a76c6f1745a4beed36839424dd2261R19
https://github.com/goavki/phenny/commit/2e10aaa863de6c56ec6ed2da513844330a6925b3#diff-9dea6b7482077728de88dbea56fdbd9dR61
Ideally, tests should not have

[2018-01-06 00:34] Androbin commented on #345
Also see tests for the `calc`, `head`, `iso639` and `posted` modules.

[2018-01-06 00:42] Androbin opened #348 "Higher test coverage"
We have 62 modules but only at least one test for 30 of them.

[2018-01-06 07:12] gstark0 commented on #334
@Androbin Can we cause the error locally? For testing purpose, it would help debugging it.

[2018-01-06 07:29] gstark0 commented on #345
@Androbin calc module doesn’t use any network functions, it’s fully local

[2018-01-06 07:56] gstark0 commented on #345
hmm actually this python interpreter is online function, not sure if it works tho

[2018-01-06 08:03] jonorthwash commented on #334
As before:
[code]
[code]

[2018-01-06 14:31] Androbin commented on #334
This is expected since the last change is about the exit of the previous instance.
It should however release the port from now on and get rid of that error.

[2018-01-06 14:32] Androbin commented on #334
However, I don't yet know how the Ping-Pong issue relates to the port issue.

[2018-01-06 14:34] gstark0 commented on #334
@Androbin Well, I thought it did, but after fixing the pong issue, I noticed it doesn't matter. In fact, the only solution I see about the port issue is killing it through subprocess.

[2018-01-06 14:36] Androbin commented on #334
Actually, the call to `shutdown` that was missing should force the port to be released by instances referencing it and the call to `close` de-allocates it completely.

[2018-01-06 14:43] gstark0 commented on #334
@Androbin You mean #346 ? It doesn't solve port problem unfortunately :(

[2018-01-06 14:52] Androbin commented on #334
The only possibility left is that the `atexit` handler is not executed on termination.

[2018-01-06 14:54] Androbin commented on #334
The callback is not called when the program dies because of a signal btw.
@gstark0 I suspect you used `Ctrl + C` or similar to quit?

[2018-01-06 14:56] Androbin commented on #334
@gstark0 I suspect you used `Ctrl + C` or similar to quit?
@jonorthwash How exactly do you kill the old instance?

[2018-01-06 15:01] gstark0 commented on #334
@Androbin Yes, I use Ctrl+C, we can after every Begiak run just kill the previous instance so the port will be free, but it's not what we want here. Let's just make it killing it with every run.

[2018-01-06 17:28] Himanshu40 opened #354 "Showing atleast one topic"
Currently, begiak with this command `.topics <any>` showing one topic in user's PM and it also shows `.more` the command to show remaining topics. How about showing at least one topic and then others topics in users PM or similar to that?

[2018-01-06 18:39] jonorthwash commented on #334
It never was killed.  It just disconnected and tried to reconnect.  I guess it tried to restart itself, but was running in the same process.  In the case of multiple messages about the port being open, it's possible there were multiple [crashed?] versions of the code running.

[2018-01-06 18:45] jonorthwash commented on #334
Aha!  When I `^C` it, I don't get multiple port-in-use errors.  When I kill it with start-stop-daemon, on next start it does give multiple port-in-use messages.

[2018-01-06 19:22] Androbin commented on #334
Okay, so we have narrowed down the problem.

[2018-01-06 19:24] Androbin commented on #334
@jonorthwash I have added some more patches to #351 which should fix some breakpoints.

[2018-01-07 07:00] #302 closed

[2018-01-07 07:03] sushain97 opened #356 ".search returns HTML"
[code]

[2018-01-07 08:18] gstark0 commented on #356
That's DuckDuckGo's issue, I checked it, we can cut the html from there, but what if the search is about something related to html?

[2018-01-07 21:38] #354 closed

[2018-01-07 21:39] #356 closed

[2018-01-07 23:13] #334 closed

[2018-01-07 23:23] #318 closed

[2018-01-08 06:06] gstark0 commented on #334
#350 Also

[2018-01-08 16:16] Himanshu40 commented on #354
Awesome work @gstark0

[2018-01-09 02:06] #322 closed

[2018-01-09 06:24] gstark0 opened #360 ".time spams whole chat now"
@shardulc @sushain97
Using `.time` command will spam whole chat, if this is intended, it's super useless IMHO :
<img width="592" alt="screen shot 2018-01-09 at 07 20 51" src="https://user-images.githubusercontent.com/25964807/34707468-fdcf2558-f50d-11e7-90ad-b04b73caa1be.png">
<img width="513" alt="screen shot 2018-01-09 at 07 20 43" src="https://user-images.githubusercontent.com/25964807/34707473

[2018-01-09 06:28] Himanshu40 commented on #360
According to me, it doesn't need to send multiple lines if there are multiple hits and it should send one long line. Looks like `.time GMT` shows all possible GMTs.

[2018-01-09 06:29] gstark0 commented on #360
Yes, why sending all GMT's? If I want GMT+6 I can just specify it.

[2018-01-09 06:34] Himanshu40 commented on #360
@gstark0  yeah you are right .`time GMT+6` calling all possible GMTs. Looks like it should send one

[2018-01-09 06:35] gstark0 commented on #360
<img width="540" alt="screen shot 2018-01-09 at 07 35 05" src="https://user-images.githubusercontent.com/25964807/34707800-adb36bd6-f50f-11e7-81db-5d4cfa968b41.png">
<img width="512" alt="screen shot 2018-01-09 at 07 35 14" src="https://user-images.githubusercontent.com/25964807/34707804-af79cf6e-f50f-11e7-9bca-3e8f4bcf73b4.png">

[2018-01-09 06:46] Himanshu40 commented on #360
so `.time` may send output only once with a long line or it should show only output not less than 3 to avoid spamming

[2018-01-09 15:15] sushain97 commented on #360
Yeah, this really needs to be fixed. @Androbin ?

[2018-01-09 15:15] sushain97 commented on #360
I think we can sort the lines matched and output the top 3.

[2018-01-09 15:16] gstark0 commented on #360
@sushain97 Can I take a look at his?

[2018-01-09 15:16] sushain97 commented on #360
Sure.

[2018-01-09 15:21] Androbin commented on #360
"GMT" printing all of "GMT" is due to a rash design decision.
"GMT+X" printing more than one line is a bug.
For the latter, I don't know where the issue could be.

[2018-01-09 15:27] Androbin commented on #319
Also, existing tests should be fixed and tests for yet uncovered database code should added.

[2018-01-09 15:36] Androbin commented on #360
I may clarify that for abbreviations with multiple possible expansions, the full name is printed, but the latter is not added to either dictionary. Bad design decision.

[2018-01-09 15:46] Androbin commented on #360
We could change this line from "GMT" to "GMT+0":
https://github.com/goavki/phenny/blob/master/modules/clock.py#L169

[2018-01-09 15:52] Androbin commented on #360
It seems like ABC+X gets the +X part stripped before lookup.

[2018-01-09 15:59] gstark0 opened #362 "whois for begiak"
How about querying the informations from /whois, from irc.freenode about users? E.g .whois grzegorzs would display informations from what country user is (based on ip adress, as freenode doesn't mask it), and his current time :)

[2018-01-09 16:12] Androbin opened #363 "SASL Attribute Error"
[code]
#336 @gstark0 /cc

[2018-01-09 16:14] Androbin commented on #363
We should `fallback` to the default value.

[2018-01-09 16:16] Androbin commented on #363
Right here, next to the other ones:
https://github.com/goavki/phenny/blob/master/phenny#L118

[2018-01-09 16:17] gstark0 commented on #363
Ye, I will add this later

[2018-01-09 16:22] Androbin opened #365 "Cache scraped data + Add to Travis Build Cache"
This would speed up tests and reduce the number of timeouts.
In particular, the following modules: `clock`, `ethnologue`, `iso639`
**Note:** Cache only the raw data downloaded, not the database generated from it.

[2018-01-09 18:14] Androbin opened #367 "\x15\x03\x01 invalid response in test_slogan"
See https://travis-ci.org/goavki/phenny/jobs/326923804#L650 for reference
This happens from time to time and seems to be a SSL-related issue.
I don't yet know why this doesn't happen consistently.

[2018-01-09 18:26] gstark0 commented on #363
Can be close.

[2018-01-09 18:26] #363 closed

[2018-01-09 19:33] Androbin commented on #335
This can be closed as duplicate.

[2018-01-09 19:34] Androbin commented on #343
@gstark0 /cc

[2018-01-09 19:40] Androbin commented on #233
Could you describe how to re-produce such wrong message?

[2018-01-09 19:59] #335 closed

[2018-01-11 05:36] jonorthwash commented on #151
A recent example:
[code]

[2018-01-11 07:27] gstark0 commented on #367
You have SSL enabled?

[2018-01-11 12:25] flammie commented on #233
I have not seen any systematicity in the errors, the best is to try replay the same payload perhaps? Here's that one:
[code]
I am not sure if that will actually reproduce the bug.

[2018-01-11 15:42] Androbin commented on #367
It's the Travis build, like I said.
The `default.py.example` has `ssl = False` in it.
And this should not even be read by `nosetests3`.

[2018-01-11 15:43] Androbin commented on #367
It's about the SSL of the server, by the way.

[2018-01-11 15:48] gstark0 commented on #367
hmmm, so we can only handle the error, thats all

[2018-01-11 16:49] Androbin commented on #367
We should probably just skip the test in such case.
But I don't know which other tests might be affected.
And should we hardcode "\x15\x03\x01" or is there a more general pattern?

[2018-01-11 16:51] gstark0 commented on #367
@Androbin I think we should hardcode this, as this is specific for SSL problem. More general pattern could include some encodings also, which we don't want.

[2018-01-11 18:37] Androbin opened #371 "Refactor queue module"
See https://github.com/goavki/phenny/pull/366#discussion_r160854418 for reference

[2018-01-13 22:03] shardulc commented on #367
@gstark0 @Androbin Where do the "\x15\x03\x01" characters come from? If we're reasonably sure that they are always the same characters, we can merge #370.

[2018-01-13 22:11] Androbin commented on #367
I was unable to find official documentation for \x15\x03\x01 or the like.

Thousands of other parties talk about either:
* "\x16\x03\x01"
* "\x15\x03\x01" followed by "\x00\x02\x02"

Either way, we seem to get only this one.

[2018-01-13 22:12] shardulc commented on #367
Hmm. I guess #370 can only help then.

[2018-01-13 22:13] #367 closed

[2018-01-13 22:16] Androbin commented on #367
As far as I understand, it is the result of either a
* malformed HTTP request
* malformed HTTP response

[2018-01-13 22:28] gstark0 commented on #367
@shardulc basically, it seems like we’re getting this error only, and it is related to SSL somehow. Although we could make more general pattern in case any other of these appeared, but this pattern is also responsible for some encodings which may occur, so it would better to just skip this particular case.

[2018-01-14 00:09] shardulc commented on #340
Closed via #344.

[2018-01-14 00:09] #340 closed

[2018-01-14 00:32] shardulc commented on #320
Looking a little closely, this is turning out a bit more involved:
 - wiki.apertium.org has a version of the MediaWiki API that doesn't support the `extracts` thing, so `apertium_wiki.py` uses manual parsing. This means it supports sections but is far from robust.
 - `vtluugwiki.py` and `archwiki.py` only search, don't give content (who uses them anyway?).
 - If we use the MediaWiki API, getting s

[2018-01-14 10:38] Androbin commented on #320
Using the same sentence splitting logic as the API (see my comments on #342),
we can make `wiki.py` provide functions to
* make API calls (see the new functions currently in `tools.py`)
* get the raw text (without markup) from `title/section`
* split text into sentences (up to `limit`)

plus various convenience functions.

@shardulc What will happen to the `apertium_wiki`, `vtluugwiki` and `archwi

[2018-01-14 19:09] #292 closed

[2018-01-15 20:34] gstark0 opened #375 "Begiak gives .awik twice"
<img width="1009" alt="screen shot 2018-01-15 at 21 33 08" src="https://user-images.githubusercontent.com/25964807/34960622-e8c16648-fa3b-11e7-912d-5a4ddd999604.png">

[2018-01-16 16:36] Androbin commented on #360
How do we want to handle such cases?

[2018-01-16 18:36] #319 closed

[2018-01-16 18:48] jonorthwash commented on #174
I believe so.  At least, I haven't noticed anything like this for a little while.

[2018-01-16 18:49] jonorthwash commented on #174
@flammie, @unhammer, is there any different functionality than what we currently have?  If so, just reopen the issue.

[2018-01-16 18:49] #174 closed

[2018-01-16 18:51] jonorthwash commented on #174
We don't have wild-card support in the config, I think, but otherwise seems we have stuff going to the right places?

[2018-01-17 00:27] shardulc commented on #343
With #347 I think this can be closed?

[2018-01-17 00:39] shardulc commented on #268
#325 fixes this.

[2018-01-17 00:39] #268 closed

[2018-01-17 00:44] shardulc commented on #271
#325 implements DDG search but I'm not sure it satisfies the requirements above.
 1. Search results are in the form "Apple A deciduous tree in the rose family best known for its sweet, pomaceous fruit, the apple. - https://duckduckgo.com/Apple". This does not link to the source page, only to the search page. I guess the image logo requirement doesn't apply to us.
 1. Satisfied.
 1. Not implemented

[2018-01-17 01:34] shardulc commented on #375
I don't think so. Why would `archwiki.py` print an article from the Apertium wiki?

[2018-01-17 02:06] sushain97 commented on #360
Output up to 3 and be more intelligent about the matching?

[2018-01-17 06:37] gstark0 commented on #271
@shardulc that's because DDG Instant Answers limitations, we can't get the external links from it.

That's quote from DDG API website.
Also, if you want to search for company, you have to be more specific -> ".search Apple Inc" does the job good :)

[2018-01-17 06:40] shardulc commented on #271
Yup, it will probably be hard to get the 'source URL' for DDG results. I was just wondering because that's what the terms in the first comment seemed to say.

No I was talking about the DDG logo actually :smile:

[2018-01-17 06:42] gstark0 commented on #271
@shardulc

I understood that when I read it again, sorry :)

But yeah, some sources are from e.g wikipedia or github, and if they are, the source is included :)

[2018-01-17 15:01] #343 closed

[2018-01-17 15:01] Androbin commented on #345
Closing with #347

[2018-01-17 15:01] #345 closed

[2018-01-17 15:02] Androbin commented on #375
Why would two different modules handle `.awik` commands?

[2018-01-17 15:07] Androbin commented on #360
* Putting a limit on the number of matches 👍
* Being more intelligent about matching ❓

See my last comment on which code interferes with this.

[2018-01-17 15:25] sushain97 commented on #360
Change the code then? I don't understand what the problem is.

On Jan 17, 2018 9:07 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2018-01-17 16:07] Androbin commented on #360
The problem is that we want to handle `+/-X` in two different ways.
The simplest solution would of course be to drop the old feature.

[2018-01-17 16:19] sushain97 commented on #360
What exactly is the old feature?

On Jan 17, 2018 10:07 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2018-01-17 16:23] Androbin commented on #360
It extends the `+/-X` syntax to any timezone.
But it interferes with the scraped `+/-X` entries.

[2018-01-17 16:34] sushain97 commented on #360
I see. Why can't we only allow that syntax when it helps to provide a more
meaningful result?

On Jan 17, 2018 10:23 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

It extends the +/-X syntax to any timezone.
But it interferes with the scraped +/-X entries.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/goavki/phe

[2018-01-17 16:43] Androbin commented on #360
Maybe we can get around this with #378.

[2018-01-17 17:09] Androbin commented on #320
@shardulc What will happen to the `apertium_wiki`, `vtluugwiki` and `archwiki` modules?

[2018-01-17 17:11] shardulc commented on #320
In my opinion, `apertium_wiki` should stay and the others should be deleted/disabled since nobody uses them anyway, but even if they are all kept, they should all use functions from `wiki.py` somewhat like what you said.

[2018-01-17 17:15] shardulc commented on #375
See also #197. But that's likely different from what's causing the double output.

[2018-01-19 16:40] #360 closed

[2018-02-05 15:41] jonorthwash commented on #375
Applies to `.w` too.

[code]

[2018-02-05 15:53] Androbin commented on #375
Is there any chance for a module / function to be registered twice?

[2018-02-05 18:02] jonorthwash commented on #375
Maybe?  How might we identify that?

My thought is that this was introduced in the generalised output reduction code.

[2018-02-05 18:03] Androbin commented on #375
I would suspect it has something to do with the reload module?

[2018-02-05 18:04] jonorthwash commented on #375
The reload module was heavily modified recently too, so it could well be related to those changes.

[2018-02-05 18:21] Androbin commented on #375
The `bot.py` module holds the dictionary in question.
It should only be able to hold one value per key.
Is there any chance the whole module is used twice? Probably not?
Anyhow, I can't imagine how this would have been provoked by the logging commit.

[2018-02-13 15:32] flammie opened #381 "Remove "(posted: 11 months ago by XXX)""
[code]

This is very misleading and highlights people unnecessarily. I'm guessing it's supposed to say who has also posted the link but it seems to me like the person has posted the page mentioned to the internet! I did not post anything about student stipends to gsoc site.

[2018-02-13 17:13] Androbin commented on #381
Should the entire `posted` module be removed?

[2018-02-14 12:07] flammie commented on #381
Unless someone has an use case for it, I think it should go, I guess it might be useful for other kind of social channels (encouraging users not to repost same links maybe), even if it is retained it would be better reworded and without nick mention.

[2018-02-15 06:06] jonorthwash opened #383 "python3.5 incompatibilities?"
@sushain97 thinks the following issues have arisen because of an upgrade from python3.4 to python3.5, meaning that begiak was never made compatible with 3.5:
[code]

`seen.py / f_note` raises `ERROR: db type could not be determined`

[2018-03-07 16:21] jonorthwash opened #384 "gives error every time someone gets op or voice"
[code]

[2018-03-07 17:38] Androbin commented on #384
May I ask: How exactly does someone get op or voice?

[2018-03-07 17:46] Androbin commented on #384
The error comes from trying to restart the `git` hook via `setup_server` before it is shut down.

First, we should consider changing the triggers:
[code]

Second, the condition check was (temporarily) disabled some time ago:
[code]

[2018-03-07 17:53] Androbin commented on #384
@jonorthwash How about calling `setup_server` from `setup` instead?
Possibly with a flag to be set in the configuration.
And of course, re-enable the condition check.

[2018-03-07 18:07] Androbin commented on #384
Is it correct that the change of channel operator triggers the `MODE` event?

[2018-03-08 10:41] ftyers opened #386 "Begiak should tell #apertium about commits"
Begiak should publish commits (actually probably better that it just publishes "pushes") in apertium repos to #apertium on freenode.

[2018-03-08 13:33] sushain97 commented on #386
https://github.com/apertium/phenny/pull/385

[2018-03-08 14:37] wei2912 opened #387 "Fix Travis build issue"
The README links to the Travis build system for goavki/phenny and not apertium/phenny. It may also be the case that the build system settings have not been updated.

[2018-03-08 14:39] sushain97 commented on #387
Settings don't need to be changed, just the badge. I modified it for apy.

Circle transparently detects this and never falters...

On Mar 8, 2018 8:37 AM, "Ng Wei En" <notifications@github.com> wrote:

[2018-03-08 16:39] Androbin commented on #381
@sushain97 Any objections?

[2018-03-08 16:46] Androbin commented on #249
How about moving all imports into a separate function `import_modules`?
* Reload modules
* Call `import_modules` for all modules
* Call `setup` for all modules

[2018-03-08 16:59] #387 closed

[2018-03-08 18:15] Androbin commented on #249
Or maybe we can iterate over a modules imports and reload them for it?

[2018-03-08 18:25] Androbin commented on #387
The build had a network quirk.
Would you mind to restart it?

[2018-03-09 18:51] #296 closed

[2018-03-10 05:27] jonorthwash commented on #386
When I posted a comment to an issue, begiak's log did this:
[code]

[2018-03-10 05:27] jonorthwash commented on #386
And when I posted this just now it did this:
[code]

[2018-03-10 05:27] #384 closed

[2018-03-10 05:31] jonorthwash commented on #384
Seems to've worked.

[2018-03-10 05:31] jonorthwash commented on #386
@sushain97, #385 is unrelated.

[2018-03-10 05:32] jonorthwash commented on #329
Getting this on most (all?) git hook payloads:
[code]

[2018-03-10 05:32] jonorthwash commented on #386
#329 is the relevant issue.

[2018-03-10 05:36] jonorthwash commented on #383
Every time someone (me?) says something, we get the `db type error`.  Every time a git webhook happens, we get a `MyHandler` error.

We also (randomly?) just got this:

[code]

[2018-03-10 05:36] jonorthwash commented on #386
And probably #383.

[2018-03-10 06:32] sushain97 commented on #383
`s/unicode/str`. idk how that code survived this long.

[2018-03-10 06:34] sushain97 commented on #383
requesthandler/server class interaction should look more like in https://github.com/apertium/apertium-on-github/blob/master/sync.py#L357

[2018-03-10 14:40] sushain97 commented on #383
@Androbin could you fix this since you wrote it originally?

[2018-03-10 15:02] Androbin commented on #383
The nightly build of #382 seems to fail because of changes in some dependencies.
The issue with `MyHandler` seems to be ditto.
I don't know about the databases.
Investigating...

[2018-03-10 15:16] Androbin commented on #383
The errors don't get less. They seem to be all related to the `urllib3` module:
[code]

[2018-03-10 15:19] Androbin commented on #383
The latter seems to be due to name shadowing by our `queue` module...
Why is this happening NOW?

[2018-03-10 15:43] Androbin commented on #383
The db error seems to be thrown by the `pickle` module because it messes with the file name.

[2018-03-10 15:53] Androbin commented on #383
Do we still need `seen.py > f_note` (deprecated, dysfunctional) or can we drop it?

[2018-03-10 15:58] Androbin commented on #329
Could you check if 9a843dacf1b29848db57ef036d79d7045bc28002 fixed this?

[2018-03-10 16:03] Androbin commented on #383
The `unicode` global function was removed. I will rewrite that line.

[2018-03-10 16:10] Androbin commented on #383
The `unicode` global function was removed.
I rewrote that line and thus fixed it in 2a4d59e87c33f0aa19e685fd701067e76f5aa919.

[2018-03-10 16:14] Androbin commented on #383
@sushain97 The `server_bind` method in your example:
[code]
... looks just like the `server_bind` in `tools.py > PortReuseTCPServer` used.

[2018-03-10 16:22] Androbin commented on #329
@jonorthwash Could you check if 9a843dacf1b29848db57ef036d79d7045bc28002 fixed this?

[2018-03-10 16:24] Androbin commented on #386
@jonorthwash Actually, I think it is related.
The `server_start` function got the wrong argument.
Should be fixed as of 9a843dacf1b29848db57ef036d79d7045bc28002.

[2018-03-10 16:45] sushain97 commented on #383
The server_bind isn't the problem. `https://github.com/apertium/phenny/blob/master/modules/git.py#L398` isn't valid. pass `pheny` to the server instead, not the handler.

[2018-03-10 18:08] ftyers opened #389 "Update awikstats for GitHub"
I get this when I try:

[code]

[2018-03-11 08:53] Androbin commented on #383
No, the `PortReuseTCPServer` doesn't know how to deal with it.
It just gets `MyHandler` initialized with `phenny`.
I don't see how the `RequestHandler` is different?.

[2018-03-11 09:12] Androbin commented on #383
The `nightly` build of #382 fails for equally version suspicious reasons.

[2018-03-11 09:47] Androbin opened #391 "vtluugwiki.py | DB connection error"
[code]

[2018-03-11 11:55] #391 closed

[2018-03-11 12:23] Androbin commented on #348
Our current coverage is ~58% for all modules imported by current tests.
As soon as we get that above 75%, the builds should fail for lower coverage.

[2018-03-11 16:28] sushain97 commented on #383
Then subclass it and figure it out there. The request handler gets initialized with each request. A class should be passed to the server, not an instance. Look at sync.py.

[2018-03-11 16:58] Androbin commented on #383
Okay, got it.

[2018-03-11 17:06] Androbin commented on #383
Oops, messed that up in 7ebba9bf4a833da07cbb727913d73ff8525d1015. Fixed in 856bbc32ab11b5d1606be219cb96c1135b86a211.

[2018-03-11 17:13] Androbin commented on #383
All mentioned issues are fixed now:
- [x] TypeError: 'MyHandler' object is not callable (856bbc32ab11b5d1606be219cb96c1135b86a211)
- [x] ERROR: db type could not be determined (78da9020f2afb5e2a9c3840b740a0be89026ab6a)
- [x] NameError: name 'unicode' is not defined (2a4d59e87c33f0aa19e685fd701067e76f5aa919)

[2018-03-11 17:13] #383 closed

[2018-03-11 17:44] Androbin commented on #386
The `MyHandler` issue should be fixed. (Thanks @sushain97)

[2018-03-11 17:44] #381 closed

[2018-03-11 17:49] #329 closed

[2018-03-11 17:50] Androbin commented on #329
Fixed `TypeError: 'MyHandler' object is not callable` in 856bbc32ab11b5d1606be219cb96c1135b86a211.

[2018-03-11 17:57] Androbin commented on #362
We can't rely on the IP address. The user could be behind a proxy.
Freenode gives me the following "whois" information:
[code]
I don't think this would be that useful.

[2018-03-11 18:09] Androbin commented on #259
Did [implementing `.more` for `check_mail`](https://github.com/apertium/phenny/commit/32f3d52972d8cfd069bec15be4080e641ea7340c) get rid of the flooding?

[2018-03-11 18:10] sushain97 commented on #383
Awesome! @jonorthwash could you update begiak?

[2018-03-11 18:21] Androbin opened #392 "Update begiak via admin command"
Usage:
[code]

Example:
[code]

**Spoiler:** There is a chance of it crashing the first few attempts.

[2018-03-11 18:26] Androbin commented on #392
@sushain97 @jonorthwash What you think?

[2018-03-11 22:34] sushain97 opened #395 "Ignore repos list"
There should be a config option for which repos to ignore events from. `apertium-all`, `apertium-trunk`, etc.

[2018-03-12 08:32] ftyers commented on #395
This seems fairly straightforward in git.py line 150. `do_POST_unsafe(self, data):`

[2018-03-12 13:44] Androbin commented on #395
Current behavior:
* `if master and not fork` -> default channel
* `else` -> branch channels

[2018-03-12 13:45] Androbin commented on #395
If we want to ignore all events from repo X, why don't we just disable the event hook in the repo settings?

[2018-03-12 13:56] sushain97 commented on #395
That isn't possible, unfortunately. The webhook is at the org level and it will continue to be.

[2018-03-12 14:01] Androbin commented on #395
Okay, get it. What parameters do we want? When shall messages be sent to which channels?

[2018-03-12 14:02] Androbin commented on #395
Shall we leave the current logic in place and just filter for repositories in e.g. `git_repositories`?

[2018-03-12 14:03] Androbin commented on #395
I guess we want to apply this to the entire hook, not just PUSH events?

[2018-03-12 14:06] ftyers commented on #395
The ideal thing would be to have a per-channel, per-repo whitelist/blacklist of events.

E.g. on `#apertium` only publish:

whitelist:
* new issues
* push
blacklist
* everything else
* push apertium-all, apertium-incubator, apertium-trunk, ...

[2018-03-12 14:10] Androbin commented on #395
@ftyers We need to bring that into this form:
( repo_name, branch_name, is_fork, event_type ) -> list_of_channels

[2018-03-12 16:33] Androbin commented on #365
The data could go in `~/.phenny/cache`.

We could pass a flag to `web.get` to indicate that:
* if the data is cached and not outdated, return the data from cache
* else if the response was successful / valid, store the data in cache

We should also implement mechanisms to reduce the number of ghost files.
Example: Tests / Modules are changed / deleted and the respective file won't be used anymore.

[2018-03-13 04:15] jonorthwash commented on #392
Would be cool, but we have bigger fish to fry right now, I think...  I also wonder how safe it would be.

[2018-03-13 04:15] jonorthwash commented on #392
Oh, and what's the number?

[2018-03-13 04:16] #333 closed

[2018-03-13 13:51] Androbin commented on #392
The admin could be asked to sign a string with his private key.

As per the syntax `.upgrade <commit>`, it's the commit hash.

[2018-03-13 13:55] Androbin commented on #392
Let me build a prove-of-principle first, then we can talk.

[2018-03-13 16:19] Androbin commented on #392
[code]

[2018-03-13 16:26] Androbin commented on #392
I'm working on a prove-of-principle in #398.

[2018-03-14 08:55] Androbin opened #399 "Notify participants on ticket updates"
Our git hook posts ticket comments on IRC.
If the comment contains e.g. @ mention, this person will be notified on IRC.

In case it doesn't, we could let begiak notify the ticket participants (except for the comment author).

[2018-03-14 09:07] Androbin commented on #362
The RFC standard for IRC defines a USERHOST message:
   The USERHOST command takes a list of up to 5 nicknames, each
   separated by a space character and returns a list of information
   about each nickname that it found.  The returned list has each reply
   separated by a space.

[2018-03-14 19:44] Androbin commented on #249
Maybe reloading individual modules isn't quite infeasible.

In #398 I am able to safely modify files and restart the entire python process.

[2018-03-16 02:52] #365 closed

[2018-03-16 20:26] Androbin commented on #399
Waiting for #396 to refine policies.

[2018-03-16 20:58] Androbin commented on #233
This is a bug in `tools.py # generate_report` used by `git.py # return_data`.
But we don't use that for GitHub pushes anymore, thus not reproducible with that payload.
That code is currently only used by the Bitbucket handler.

We should definitively clean that up. I guess we wanna keep the support for Bitbucket?
Either have to straighten the code or drop it.

[2018-03-16 22:09] #233 closed

[2018-03-16 22:12] Androbin commented on #233
The core issue was that the `basepath` was `/` but `paths` didn't start with `/`.
Meaning, `paths` were treated as relative paths, but `basepath` was absolute.

[2018-03-16 22:35] #252 closed

[2018-03-16 22:46] Androbin commented on #159
There are a couple loops in `apy.py` which could benefit from `.more`.

[2018-03-16 23:32] jonorthwash opened #402 "begiak crash"
Begiak crashed today.  Phenny was still running, but disappeared from its channels.  This was the last part of the logs:

[code]

[2018-03-16 23:33] jonorthwash commented on #402
There's also some of these earlier in the logs:
[code]

[2018-03-16 23:41] jonorthwash opened #403 "should silent join"
Begiak says `(19:40:36) begiak: Server is up and running on port 1234` when it joins all channels.  It should not.

[2018-03-16 23:50] Androbin commented on #403
Yeah, it mistakenly repeats that message, even when the git hook is already started...

[2018-03-17 00:01] jonorthwash opened #404 "[mailing_list.py] decode_header TypeError"
I just pulled a bunch of updates.  Now when begiak is started up, it runs but doesn't join any channels.
 This is what's at the end of the log:

[code]

[2018-03-17 00:01] Androbin commented on #402
(svnpoller.py, awikstats.py, #389)
* POLLING!!!!
* Unable to connect to a repository at URL 'https://svn.code.sf.net/p/apertium/svn'
* xml.etree.ElementTree.ParseError: no element found: line 3, column 0

(git.py, 856bbc32ab11b5d1606be219cb96c1135b86a211)
* TypeError: 'MyHandler' object is not callable

(seen.py, shelve module, 78da9020f2afb5e2a9c3840b740a0be89026ab6a)
* ERROR: db type could not b

[2018-03-17 00:07] Androbin commented on #404
(mailing_list.py, 2a4d59e87c33f0aa19e685fd701067e76f5aa919)
* AttributeError: 'str' object has no attribute 'decode'

This line was expecting to deal with bytes, not strings. Give me a moment...

[2018-03-17 00:12] Androbin commented on #404
I think there is an issue with `proto.py # join` and the `keys` argument.

[2018-03-17 00:26] Androbin commented on #404
@jonorthwash Could you try with SASL disabled?

[2018-03-17 00:30] Androbin commented on #402
Besides, how were they even able to mess with the connection?

[2018-03-17 00:42] Androbin commented on #404
By the way, port 6697 offers SSL, 6667 does not.

[2018-03-17 01:34] jonorthwash commented on #403
No, it's still doing it, with a different message now:
[code]

[2018-03-17 01:36] jonorthwash commented on #404
It's loading now, with SASL enabled.

[2018-03-17 03:34] jonorthwash commented on #402
I don't understand your question.

[2018-03-17 03:38] jonorthwash commented on #252
What issue is this a duplicate of?

[2018-03-17 12:06] Androbin commented on #252
See the last two comments.

[2018-03-17 12:09] Androbin commented on #403
Fixed in 6a4b9abd5f9a3d2ca7dc1117cf7903f81e2a61b4.

[2018-03-17 12:09] #403 closed

[2018-03-17 12:17] Androbin commented on #402
* I assume the crash was before the last two were fixed
* Either way, they are "sandboxed" (try-except)
* None of them touches the connection handling

[2018-03-17 12:26] Androbin commented on #402
* Error running context: The server unexpectedly closed the connection.
* Phenny was still running, but disappeared from its channels.

Seems like it was just a disruption of the network connection.
We only retry connecting on startup, but don't reconnect after the connection was closed.

[2018-03-17 12:26] #402 closed

[2018-03-17 12:27] Androbin opened #405 "Automatically reconnect after "The server unexpectedly closed the connection""
See #402 for reference
@jonorthwash /cc

[2018-03-17 12:28] Androbin commented on #404
With the same commit and same configuration?

[2018-03-17 17:20] jonorthwash commented on #159
Also needed for mailing list and commit messages...

[2018-03-17 17:24] Androbin commented on #159
For each call, it prints the first the first message and queues the rest.
I think the problem here is that it doesn't simply add them to the existing queue.

[2018-03-17 17:28] jonorthwash opened #406 "git module options for filtering types of commits"
We should have config options in the git module to filter commits by type (per channel?), regardless of what's set on the hook side.

[2018-03-17 17:33] jonorthwash opened #407 "solution to many repeat commits"
Instead of getting 400 distinct messages when a bot does a bunch of commits (or similar), we should somehow group them into a single message.

[2018-03-17 17:37] jonorthwash commented on #407
I see two possible main approaches:
1. Queue up messages and either
    * report a summary every minute or something,
    * detect similar commits (over some period of time?) and report a single message for similar ones.
2. Stop reporting (and say "..."?) if more than _n_ (2?) commits in a given time period (a minute or so?).

[2018-03-17 17:39] jonorthwash commented on #404
Nah, I updated it.

[2018-03-17 17:40] jonorthwash commented on #404
Though now we get other issues on startup:
[code]

[2018-03-17 17:40] jonorthwash commented on #404
We also get stuff like this:
[code]

[2018-03-17 17:43] jonorthwash commented on #404
I'm using f64d6c3.

[2018-03-17 17:53] Androbin commented on #407
The problem is that we don't want to accidentally swallow messages.

[2018-03-17 17:54] Androbin commented on #404
The first few are -again- network timeouts. We should probably collapse the error messages.

[2018-03-17 17:57] Androbin commented on #404
For `mailing_list.py`, could you print the value of `subject` that line uses?

[2018-03-17 17:59] Androbin opened #409 "Collapse error messages for network timeouts"
For example, hide the traceback and print a pretty summary.
See ticket #404 for reference.

[2018-03-17 18:00] Androbin commented on #406
@sushain97 , @ftyers and me did this in #396.

[2018-03-17 18:00] #406 closed

[2018-03-17 18:02] Androbin commented on #406
If the event type categories are not sufficient, feel free to ask for subtypes or something.

[2018-03-17 18:04] Androbin opened #410 "[more.py] Figure desired behavior for queuing and unqueuing"
See https://github.com/apertium/phenny/issues/159#issuecomment-373937493 for reference
@jonorthwash /cc

[2018-03-17 18:19] jonorthwash commented on #407
How might that happen?

And anyway, missing a few messages would be better than flooding the channel as we have now.

[2018-03-17 18:20] jonorthwash commented on #404
The value of `subject` that which line uses?  Also, how do I find the value of variables in a no longer running python script?

[2018-03-17 18:23] Androbin commented on #404
Line 67 (see error message). I need just one sample to fix it, should this be run again.

[2018-03-17 18:25] Androbin commented on #395
@jonorthwash See #396 for that.

[2018-03-17 18:28] sushain97 commented on #395
No, ours should be more like:

[code]

[2018-03-17 18:29] Androbin commented on #407
There are messages we want to see.
There are messages we don't want to see.

If we want to see them, we shouldn't hide them.
If we don't want to see them, we shouldn't generate them.

We can certainly collapse large chunks.
Do you have some examples at hand for how to do summaries?

[2018-03-17 18:32] sushain97 commented on #407
See my comment about debounce in #408.

[2018-03-17 18:40] Androbin opened #411 "Implement debounce functionality"
See https://github.com/apertium/phenny/pull/408#issuecomment-373942056 for reference

[2018-03-17 18:49] Androbin opened #412 "Fix svnpoller.py module"
See #402 for reference

[2018-03-17 18:49] jonorthwash commented on #404
I'm afraid I don't understand.  What do you want me to do?

[2018-03-17 18:51] jonorthwash commented on #407
Which of the options I presented is debounce?  And which is throttling?

[2018-03-17 18:57] ftyers opened #413 "reformat push messages to remove url"
[code]

[2018-03-17 18:58] jonorthwash commented on #395
We're still getting these commits:
[code]
and
[code]

[2018-03-17 18:59] jonorthwash commented on #395
This is what I have in the config:
[code]

[2018-03-17 19:04] jonorthwash commented on #413
Do we really want to remove the url?

[2018-03-17 19:10] Androbin commented on #395
Oops, I know what's wrong there...

[2018-03-17 19:12] Androbin commented on #395
Fixed in 36453f54494cfd3a8b57f974d05845a08d55d3e7

[2018-03-17 19:12] #395 closed

[2018-03-17 19:24] #386 closed

[2018-03-17 19:25] Androbin commented on #409
Fixed in 68537fd2502b48f16e9ae534a030565d8b76c49d.

[2018-03-17 19:25] #409 closed

[2018-03-17 20:01] Androbin commented on #410
@jonorthwash Previously, there were some exceptions to queuing, thus the spamming.
#408 will only print the first message if there are no queued messages.
And at most every 60 seconds, it will print the following message:
"There are <count> queued messages. Type '.more' to view."

Does this sound more like what we want?

[2018-03-18 02:14] sushain97 commented on #407
This is throttling.

This is effectively debouncing but not exactly.

[2018-03-18 02:15] jonorthwash commented on #407
So what exactly is debouncing?

[2018-03-18 11:14] Androbin commented on #407
For clarification: Is debouncing semantically equivalent to Android Bundled Notifications?
Notifications with equal tag can sign up to be collapsed into a single (expandable) notification.

[2018-03-18 12:29] Androbin commented on #375
Okay, I debugged the hell out of this.
The `head.py` module has `from modules.apertium_wiki import awik`.
This means that the `awik` function is top-level in `head.py`.
As a result of that, the same function is registered in two modules.

[2018-03-18 12:40] Androbin commented on #375
Importing a function is basically equivalent to declaring it, so we can't differentiate between them.
We could either change the import or remove the import at the end of the module.

[2018-03-18 12:44] Androbin commented on #375
And maybe we can add a CI test to catch such problematic imports.

[2018-03-18 12:51] sushain97 commented on #407
Similar but it's not really debouncing since you mutate the existing
notification, not hold on to notifications and then display the summary
version after you don't get a new one for a while.

On Mar 18, 2018 6:14 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2018-03-18 13:12] #375 closed

[2018-03-18 13:18] Androbin commented on #413
The only good reason to do so would be to get rid of the URL preview.
This preview requires special markup on the target.
We might as well rewrite the URL to a proxy.

For example:
https://github.com/apertium/phenny/issues/413 (with markup)
https://proxy.com/github.com/apertium/phenny/issues/413 (without markup)

The proxy would then redirect to the original URL.

[2018-03-18 14:06] Androbin commented on #263
Fixed in #307

[2018-03-18 14:06] #263 closed

[2018-03-18 14:08] Androbin commented on #266
With #317 it doesn't require an `API_KEY` anymore.

[2018-03-18 17:27] Androbin commented on #266
Fixed in a9d69c82036cc003f9a437dd301bf2282cf2e6b3. Also doesn't need `API_KEY` anymore.

[2018-03-18 17:27] #266 closed

[2018-03-18 18:08] Androbin commented on #271
There may not be an API endpoint for it.
But we can do some web scraping.

[2018-03-18 18:19] Androbin commented on #150
For each command, we could register a "twin" whose regex has `\s(->|→)\s(\S*)` added to it.
@svineet How about setting `point = True` on the function to enable this?

[2018-03-18 22:50] sushain97 commented on #413
If I recall correctly, there are settings that could do this. If not, there should be.

I suggested proxying it via apertium.org. e.g.:

becomes

Which shortens it a bit... but I think it was still too long for @ftyers :)

[2018-03-18 22:52] sushain97 commented on #389
https://github.com/apertium/apertium-stats-service is mostly complete.

after

https://github.com/apertium/apertium-stats-service/issues/10
and
https://github.com/apertium/apertium-stats-service/issues/7

are complete, we should just switch Begiak to use it and then it'll just be a thin wrapper over HTTP calls.

[2018-03-19 02:02] jonorthwash commented on #410
Does the queue get cleared periodically, or does it constantly fill up?

[2018-03-19 02:07] jonorthwash commented on #413
The reason we want a url in the first place is so that it's easy to take a look at what was changed when you see a commit of interest go by.  It doesn't have to be a permalink necessarily.

@ftyers, are you against any URL at all, or do you just think the current ones are too long.  Either way, could you explain your reasoning?

[2018-03-19 05:47] ftyers commented on #413
I am not against something short like http://hr.gl/84cfc8 ... anything longer and it's not great. Basically if it makes the typical push report go to two lines instead of one on my screen then it's a bit too long. My preferred option is something like:
[code]

[2018-03-19 06:07] jonorthwash commented on #413
I think a short url or an easy way to retrieve a url would be good.  The problem with the latter option is that it's going to be repo-specific, so it's not just "check github and generate url".  On the other hand, begiak could keep a list/database of seen hashes and save the urls as the payloads come in.

This could also be a way to deal with tons of commits (#411).  We could have begiak just say

[2018-03-19 13:54] Androbin commented on #413
How about one of these:
* Provide short-links like `apertium.org/l0r3m1p5um` which show an overview of the commits + links.
* Begiak forwards links to `apertium.org` and `apertium.org/begiak/` lists recent links + search bar.

[2018-03-19 14:10] Androbin commented on #410
When a new message is generated:
- If there are queued messages
- - Enqueue everything
- Else:
- - Print the first message
- - Enqueue the rest
- If there was no notification in the last 60 seconds:
- - Print "There are `count` queued messages. Type `.more` to view."
- - Reset timer

When someone types `.more` or `.more <N>` or `.more <N> <tag>`:
- Print the next message(s)
- Print "There are `cou

[2018-03-19 14:13] Androbin commented on #410
It doesn't print more than one message without request to do so.
But it keeps people notified of how many (new) messages there are.

[2018-03-19 15:01] #249 closed

[2018-03-19 17:14] Androbin commented on #410
@jonorthwash How about responding to `.more` in a private chat?
This would not spam the original channel in any way...

[2018-03-20 18:30] jonorthwash commented on #410
The behaviour you mention is terrible, imho.  (@ftyers should give an opinion too.)

As I see it, we will normally get *no* useful messages in the channel, and instead every 60 seconds get a message from begiak saying there are hundreds of new messages.  This causes more problems then it's worth, and should not be pursued.

[2018-03-20 18:31] jonorthwash commented on #410
The only way we'd get useful messages on occasion is for someone to take it upon themselves to clear the `.more` queue.

[2018-03-20 18:54] Androbin commented on #410
You did not listen to me. I have always stated explicitly, that the such notification will only be sent, when a new message was generated. The 60 seconds are an additional frequency limit.

[2018-03-22 00:30] sushain97 opened #414 "Bring back Python3.4 tests"

[2018-03-22 17:47] Androbin commented on #414
How about testing the following:
* oldest (3.4)
* newest (3.6)
* nightly

[2018-03-22 18:15] sushain97 commented on #414
Why? Just test 3.4, 3.5, 3.6 and nightly.

Use pip caching if the tests are too slow right now and we aren't yet. See
streamparser's Travis config for inspiration. We should also use
travis_retry to limit network issues.

On Thu, Mar 22, 2018, 12:47 PM Robin Richtsfeld <notifications@github.com>
wrote:

[2018-03-22 19:21] Androbin opened #415 "Python 3.4 asyncore mock issue"
#414 Tests fail for Python 3.4: https://travis-ci.org/apertium/phenny/jobs/357048685
Seems to be an issue with the `Mock` objects. Their `__getattr__` fall into an infinite loop.

[2018-03-22 19:25] Androbin commented on #415
This seems to be a known bug in the Python 3.4 version of `asyncore`:
https://bugs.python.org/issue13103

[2018-03-22 23:50] sushain97 commented on #415
dup of #414. The reason I created we initially disabled Python 3.4 testing is because of this infinite loop...

[2018-03-22 23:50] #415 closed

[2018-03-23 01:20] jonorthwash commented on #410
That's slightly better, but either way we'd still have this issue:

[2018-03-23 16:50] sushain97 commented on #414
Looks like the only way to fix this is by monkey patching asynccore. Thoughts?

[2018-03-23 16:50] sushain97 commented on #414
(only during testing of course)

[2018-03-23 16:52] Androbin commented on #410
Let's step through this:
* We can limit the number of messages being generated to begin with
* If we only generate messages that we wanna see, we don't wanna drop any
* When there are multiple messages, we don't wanna print all of them right away
* If we don't print them automatically, someone has to request that manually
* If someone has to clear the queue manually, the channel might be flooded
*

[2018-03-23 16:55] Androbin commented on #414
We could look at the diff between the library versions for 3.4 and 3.5 and applying whatever fixed it there.

[2018-03-23 16:58] sushain97 commented on #414
I don't think that's necessary. The fix is in the bug report you linked.

On Fri, Mar 23, 2018, 11:55 AM Robin Richtsfeld <notifications@github.com>
wrote:

[2018-03-23 17:29] Androbin commented on #414
Done. PR #416 now passes tests.

[2018-03-23 17:34] Androbin commented on #410
Now that I think about it, this should be the throttling option suggested by @sushain97.

[2018-03-23 19:00] #414 closed

[2018-03-23 19:54] Androbin commented on #305
I think we need to rethink our assumptions for the tests some time.

[2018-03-24 01:40] sushain97 commented on #410
This is actually debouncing.

[2018-03-24 22:01] Androbin commented on #410
Doesn't that mean that debouncing would post multiple messages as one message?

[2018-03-24 22:26] sushain97 commented on #410
No. Traditionally, debouncing would post *only* the last message (trailing edge). However, we can include a summarizing function that would compress the messages instead.

[2018-03-24 22:32] Androbin commented on #410
Now we're talking. How could that look like, given that IRC doesn't allow line breaks?

Actually, wouldn't it be fun to do newlines by padding the message with whitespace, based on the line width of the web interface? :sweat_smile:

[2018-03-25 14:20] #392 closed

[2018-03-25 17:42] Androbin commented on #371
Ideally, we'd have distinct sections to read, process and write the data.
Individual commands would thus be isolated from other business logic.

[2018-03-25 20:32] #151 closed

[2018-03-25 20:32] #152 closed

[2018-03-29 11:27] flammie opened #417 "Fix or nag about matrix messages"
Begiak should ideally expand the matrix long messages like:
[code]
Either fix them or send a friendly advice to the messager.

[2018-03-29 13:58] Androbin commented on #417
For reference on the matrix logic:
https://github.com/matrix-org/matrix-appservice-irc/blob/master/lib/bridge/MatrixHandler.js#L1235

[2018-04-02 14:13] Androbin commented on #305
`display_name` is actually unused anyway.
But `latitude` and `longitude` aren't tested at all.

[2018-04-10 15:14] #305 closed

[2018-04-26 00:25] wei2912 commented on #150
Seems like a desirable solution to me. Having the flexibility to decide if the command is "point"able would be a better solution than a catch all.

[2018-04-26 18:22] Androbin opened #421 "Broken ISO 639 scraping"
https://travis-ci.org/apertium/phenny/jobs/401377509

[2018-07-06 06:53] ftyers commented on #389
@sushain97 how is that progressing?

[2018-07-07 01:48] sushain97 commented on #389
https://github.com/apertium/apertium-stats-service is ready for usage. It just needs to be run somewhere and then begiak code needs to be switched to use it.

[2018-07-07 14:15] ftyers commented on #389
@sushain97 @TinoDidriksen can we run it on the Apertium server? ... @sushain97 can you switch begiak to use it ? -- is that a simple fix ?

[2018-07-11 03:43] sushain97 commented on #389
I think it would be about ~20 minutes of deleting code. Some of the code in SVN also needs to be moved into GH.

[2018-07-12 04:34] jonorthwash commented on #407
So the [current hack](https://github.com/apertium/phenny/commit/0abb0958afb668276b223fe15bbfa37b18f253f3) I implemented does the following for multiple commit messages in a single push:

[code]

@ftyers, what do you think of this behaviour?  How might the above example ideally look?

[2018-07-12 06:50] ftyers commented on #407
It's still a bit wordy... although better. There is no need to repeat the username and as I mentioned in previous conversations I don't think we need to repeat the URL every time. It should be enough to give just the commit hashes, e.g.

[code]

Then we could have a begiak plugin to give a url to a commit e.g. `!commit 4f938f`.

[2018-07-12 23:33] sushain97 commented on #407
Should be able to just hit the GH search API:

e.g. https://github.com/search?q=674c1cfdf645ac6cafe4be3277e20d567a43b23d+org%3Aapertium&type=Commits

[2018-07-13 14:50] Androbin commented on #407
Apparently, there's an (experimental) API for that:
`curl -H "Accept: application/vnd.github.cloak-preview" https://api.github.com/search/commits?q=674c1cfdf645ac6cafe4be3277e20d567a43b23d`

[2018-07-13 15:15] Androbin commented on #407
I have prepared the summary format as described by @ftyers and the `!commit` command in #422.

[2018-07-13 15:54] #421 closed

[2018-07-14 06:52] ftyers opened #424 "Error messages should not go to public channels"
See the comment about `malformed payload` below. These should be sent in /msg to a botmaster or just silently dropped.

[code]

[2018-07-23 02:30] jonorthwash commented on #407
@Androbin, I merged your PR, and can't seem to get `.commit` to work right:

[code]

[2018-07-23 03:10] jonorthwash commented on #407
Now I'm getting "problematic payloads" too—i.e., payloads that begiak can't handle.

Specifically there seems to be an error about lack of key "sha"; from the logs:
[code]

[2018-07-23 14:01] Androbin commented on #407
I've checked the docs and they list `sha` but the payload has `id` for whatever reason. I'll patch that.
You're using the `.commit` command from the `commit` module.
Please use the new `!commit` command from the `git` module.

[2018-07-30 20:49] Androbin commented on #413
Fixed in 7d067893ee919bf1cda8386716c5caf69cf89062 with the `!commit` command. (Important: not the `.commit` command)

[2018-07-30 20:49] #413 closed

[2018-07-30 21:42] #404 closed

[2018-07-30 21:45] Androbin commented on #404
I've read the docs again and apparently, there can be tuples `(str, None)` and stuff.
And apparently, there was a standard function doing exactly what we're trying to do.

[2018-08-09 14:20] #424 closed

[2018-08-09 14:30] #150 closed

[2018-08-10 11:29] Androbin commented on #304
See #322. Should be fixed by #326.

[2018-08-10 11:29] #304 closed

[2018-08-11 20:39] Androbin commented on #417
I suppose we could fetch the message and apply our `break_up` function.
But if the message really is "long" it could potentially spam the chat quite hard.

[2018-08-13 20:28] flammie commented on #417
Well, I think basically xchat and irssi do something like this when they send long messages to IRC server, although they might warn the user beforehands. In the end IRC is socially controlled so if someone repeatedly sends too long messages like so they would just get banned.

[2018-08-13 20:33] Androbin commented on #417
As in "begiak asks the author 'Would you like to split this into 42 messages?' in a private message" ?

[2018-08-14 09:32] flammie commented on #417
Hmm yeah, it could be operated like that for example or just like the .more stuff, I'm happy with pretty much any solution :-)

[2018-08-14 13:01] Androbin commented on #259
Did [implementing `.more` for `check_mail`](https://github.com/apertium/phenny/commit/32f3d52972d8cfd069bec15be4080e641ea7340c) get rid of the flooding?

[2018-08-21 13:53] ftyers opened #427 "Begiak should greet people after n seconds"
Begiak should greet people after n seconds, where n is longer than it takes for Brainstorm to kick spammers

[code]

Should be:

[code]

[2018-08-21 21:44] #427 closed

[2018-08-29 14:44] jonorthwash commented on #407
Is there a way to standardise all this to just `.commit`?  Having `!commit` too breaks consistency, and is confusing.  Perhaps we could do the regexes such that the svn one is activated if the commit it's just numbers, and the git one is activated if it's hex (though there are only-number examples there).  Otherwise, maybe rename the svn one to `.rev`/`.revision` ?

[2018-08-29 14:49] jonorthwash opened #430 "multiple responses to direct requests"
When begiak is asked to provide someone with information, it responds with multiple messages:
[code]
[code]

However, sometimes it's fine:
[code]
[code]

[2018-08-29 14:55] jonorthwash commented on #399
This would require a mapping of github users to IRC nicks, right?

[2018-08-29 14:56] jonorthwash commented on #389
Any updates on this?

[2018-08-29 14:59] Androbin commented on #430
Yeah, it's an issue with pointing duplicates.
I think I've fixed that in cd73a90a39e6dd963f69b988ea0dab0cf38a8fc7.

[2018-08-29 15:04] Androbin commented on #407
I don't know about a command for SVN.
`.commit` from `commit.py` returns a "What the Commit" commit message.
Not even sure if we want to keep that module.

[2018-08-29 15:08] Androbin commented on #399
Could be `.git_listen <github username>`

[2018-08-29 16:43] Androbin commented on #430
There was an issue with the non-pointing regexes. Fixed in fdf32e7814b4d422b9446eb3e1b47fbb71ac4457.

[2018-08-29 16:43] #430 closed

[2018-08-29 22:08] sushain97 commented on #389
I started on it a couple weeks ago and then realized two things:

- the stats service didn't support vanilla stems
- the bot also handles coverage stats now

For the first, I implemented vanilla stem counting: https://github.com/apertium/apertium-stats-service/commit/4928b2ff308380d50f087b7bf829559fc3e25f1a

The second is unfortunately pretty involved so I decided the best course of action is to:

[2018-09-03 18:04] jonorthwash opened #431 "errors on startup"
The following errors are showing up at the top of begiak's log on startup:
[code]

Also getting this right after startup:
[code]

[2018-09-03 18:07] jonorthwash commented on #431
I'm also getting a whole bunch of `/msg`s from begiak like this:
[code]

I think it's a call for help, but I'm not sure what to do.

[2018-09-03 18:10] jonorthwash commented on #431
spectei is getting the following in `\msg`, possibly coinciding with what I'm seeing:
[code]

[2018-09-03 18:35] sushain97 commented on #431
If the setup for a particular module fails, we should just note that in IRC and disable it instead of failing to bootstrap the entire instance.

[2018-09-03 20:03] Androbin commented on #431
Multiple issues:
* Wikipedia table scraping (they changed the structure, again)
* `svnpoller.py` connection timeout
* "..." messages (maybe `irc.py` "Loop detection" or something)
* missing `input.group` for pointing-enabled commands (should already be fixed)

[2018-09-05 15:49] sushain97 opened #433 "Github issue creator command"
Something like:

[code]

[2018-09-05 15:50] sushain97 commented on #431
@jonorthwash could you verify this is fixed?

[2018-09-05 17:39] Androbin commented on #431
Issues [1] and [4] should be fixed. Issue [2] might be. Issue [3] I don't know about.

[2018-09-05 17:42] Androbin commented on #431
Next time, do you mind opening specific tickets for each issue? :)

[2018-09-12 23:04] sushain97 opened #434 "More granular github issue event support"
We currently mention issue label changes and issue edits. I think these are pretty noisy and not really useful.

I would much rather mention a comment on an issue which we currently aren't.

Thoughts?

e.g.

[code]

cc @jonorthwash @ftyers

[2018-09-12 23:05] Androbin commented on #434
See #399 for ticket comments.

[2018-09-12 23:06] Androbin commented on #431
@jonorthwash Can you tell which of these four have been fixed respectively?

[2018-09-12 23:16] sushain97 commented on #434
I don't see ticket comments currently in IRC. Is begiak not updated to this repo's HEAD or is that change not live/merged?

[2018-09-12 23:20] Androbin commented on #434
As per https://github.com/apertium/phenny/pull/422#issuecomment-408887463, we currently only get `push` and `issues` events.

[2018-09-13 00:07] sushain97 opened #435 ".logs improved linking"
.logs should go directly to https://tinodidriksen.com/pisg/freenode/logs/%23apertium/ and also link to today's logs. Even cooler would be `.logs yesterday` goes directly to yesterday and `.logs somedate` links to the date.

This will be a GCI task and combined with adding tests for this module.

[2018-09-13 00:17] Androbin commented on #433
We could either have a GitHub bot for all or each create a "Personal Access Token".

[2018-09-13 01:17] sushain97 commented on #433
We already have a bot: https://github.com/ApertiumBot. Let's reuse him. I can provide @jonorthwash with the access token. The issue contents can say who originally requested it in IRC.

[2018-09-15 00:08] Androbin commented on #405
And maybe take care of other "Common IRC Connection Errors":
http://docs.dal.net/docs/connection.html

[2018-09-15 03:31] jonorthwash commented on #434
Uh, so should I update the config?  I don't know who decided on what's currently there, but it was probably set up that way for a reason.

[2018-09-16 23:58] wei2912 commented on #434
This issue is linked to https://github.com/apertium/phenny/issues/159.

[2018-09-17 00:14] wei2912 opened #436 "Clean up obsolete modules"
Look through the list of modules and determine which ones can be deprecated. Modules to be deprecated should either be 1. very rarely used, 2. NSFW, 3. unrepairable or 4. obsolete. Deprecated modules should be shifted into "modules/archive".

[2018-09-17 00:41] wei2912 opened #437 "Develop module for Begiak that tracks GCI students"
As one of the Google Code-in tasks is to stay on the IRC channel for four hours, a module can be developed to track the time these students spend on the channel.

Just a few ideas:
1. Have students run a command `.gci full_name` to indicate that they are a GCI student with `full_name` being their name on the GCI website.
2. Time tracked should be cumulative.
3. Upon reaching four hours, the bot sh

[2018-09-28 13:55] namanchikara commented on #433
I don't know if it's just me or the  https://github.com/ApertiumBot doesn't have any public repositories.

[2018-09-28 13:55] namanchikara commented on #433
I don't know if it's just me or the https://github.com/ApertiumBot doesn't have any public repositories.

[2018-09-28 18:06] sushain97 commented on #433
Why would the bot have any repositories of its own?

[2018-09-28 18:55] namanchikara commented on #433
Oh sorry, My bad. I'm new to this. I might apply for GSoc, hence I was going through 'issues' and 'code' of various repos. Anyway thanks for the fast reply.

[2018-09-28 18:56] sushain97 commented on #433
No worries!

[2018-10-03 16:26] flammie opened #438 "[greet.py] Tell people about NickServ"
I think we decided on IRC that begiak should not greet everyone loudly since we have tons of spambots joining all the time.

[2018-10-03 16:43] TinoDidriksen commented on #438
It should instead greet them with information on how to register with nickserv, and should do so both as /msg and /notice because clients tend to hide one of those and it's random which one.

[2018-10-16 08:56] TinoDidriksen commented on #434
For issues, it should only message IRC on creation and replies. Potentially on closing. But certainly not on labeling, assigning, edits, or anything else.

[2018-10-16 09:01] TinoDidriksen commented on #438
This is high priority. It should be in place and deployed before GCI starts in a week.

[2018-10-16 18:10] Androbin commented on #434
Then we need `"issues"` and `"issue_comment"` events and filter `"issues"` events by `"action"`:
- We want only `"opened"`, `"closed"` and `"reopened"`.
- We don't want `"assigned"`, `"unassigned"`, `"labeled"`, `"unlabeled"`, `"edited"`, `"milestoned"` and `"demilestoned"`.

[2018-10-16 20:21] #438 closed

[2018-10-17 13:13] wei2912 commented on #437
@Androbin It should be persistent across disconnects and message target should be #apertium.

[2018-10-23 23:33] nu11us commented on #436
Yeah, I agree with that. @wei2912 mind if I just delete the obsolete files?

[2018-10-23 23:34] wei2912 commented on #436
@Androbin fair point, a delete of the modules should be more appropriate.

[2018-10-23 23:39] sushain97 commented on #436
Personally, I would prefer nsfw modules to just be default disabled under an nsfw flag in the config.

[2018-10-23 23:45] nu11us commented on #436
They do appear publicly on this repository though and to anyone working on the IRC bot.

Having them, especially `rule34.py`, out in the open to a competition of 13-17 year olds doesn't sound appropriate, even if they are disabled.

[2018-10-24 12:42] shardulc commented on #436
I'm in favor of outright deleting the NSFW modules and perhaps even other modules that never get used, like `mylife.py`.

[2018-10-24 12:44] nu11us commented on #436
That's in the pull request as of now. I've also uploaded a script in my task that gives the usage of all the scripts from the logs since around 2010.

[2018-10-24 12:54] nu11us commented on #436
*Usage as of now with a few false positives*
https://pastebin.com/eKDm5wuC

[2018-10-24 12:55] nu11us commented on #436
Output: https://pastebin.com/15sjKs93

[2018-10-24 16:12] wei2912 commented on #437
To all mentors, let us know if there's an issue with the gci module.

[2018-10-24 21:09] shardulc commented on #436
Going along with what @wei2912 said, what about removing all modules used less than X times? (He suggests X=50, I think X=20 would be better, thoughts?) Caveat: there are some modules that aren't actually 'called', but rather respond to text in the channel. For example, whenever someone says "particle", begiak responds. These should not be deleted.

[2018-10-24 21:13] nu11us commented on #436
I considered that, but the some of the unused modules still have some utility or charm. Looking through the output pastebin, I think it would have to be around n=5 as the majority of all the commands are under 20.

[2018-10-24 21:18] shardulc commented on #436
The ones that have "charm" can be picked out by hand but I think it's fine to remove the majority of them. @jonorthwash may have a different opinion on this, though. Meanwhile could you compile a list of the ones below 20 and see whether any of those are actually dependencies for others, have a 'reaction' like particles, need to be kept for some other reason, etc.?

[2018-10-24 21:44] nu11us commented on #436
| Command               	| Uses 	| Deleted? 	|   	|   	|
|-----------------------	|------	|----------	|---	|---	|
| autojoin              	| 0    	| No       	|   	|   	|
| checkMessages         	| 0    	| No       	|   	|   	|
| f_weather             	| 0    	| No       	|   	|   	|
| foodvote              	| 0    	| Yes      	|   	|   	|
| generate              	| 0    	| No       	|   	|   	|
|

[2018-10-24 22:31] jonorthwash commented on #436
I'd keep `fcc`.  It's off-topic for #apertium, but it's a useful module and it still works.

[2018-10-24 22:32] nu11us commented on #436
Will add it back momentarily. Any others?

[2018-10-24 22:57] Androbin commented on #436
I would argue that `vtluugwiki.py` (and the other wikis) was reduced to so little extra code that it's near zero maintenance.
Instead of removing it, we might as well have a combined wiki module which enumerates (with very little overhead) the set of wiki URLs (+names).
Then again, only the general wiki code that's already used in/by/for `apertium_wiki.py` will have to be maintained.
I suggest kee

[2018-10-24 23:02] nu11us commented on #436
Yeah, I was on the side of keeping them at one point due to potential, but they still remain unused. Perhaps, we could remove them for now until a combined wiki module is implemented? That would allow me to finish this task and have another GCI task for that.

[2018-10-24 23:15] wei2912 commented on #437
There seems to be a few bugs with the system and some changes are needed.

[2018-10-24 23:28] wei2912 commented on #436
Consider the remaining modules here:

| *Module* | *Reason for Removal* |
| archwiki.py | We don't even use ArchWiki |
| eleda.py | Doesn't seem like we've ever use it |
| imdb.py | kinda useful but not sure if it's working |
| lastfm.py | do we really want to know what users are listening to |

[2018-10-24 23:31] nu11us commented on #436
1. ArchWiki has been used quite a lot, at least according to the logs.
2. Eleda was custom-written, so I didn't feel like deleting it.
3. Imdb works
4. I suggested that we deleted lastfm.

[2018-10-24 23:35] sushain97 commented on #436
I'm guessing ArchWiki usages are probably Apertium Wiki usages.

[2018-10-24 23:40] Androbin commented on #437
@wei2919 Please elaborate

[2018-10-24 23:41] nu11us commented on #436
That explains it.

[2018-10-24 23:44] nu11us commented on #436
Just removed ArchWiki.

[2018-10-25 11:34] wei2912 commented on #436
Closing as the PR has been merged.

[2018-10-25 23:29] jonorthwash commented on #436
Wait, were the imdb and weather modules deleted too?

[2018-10-25 23:30] jonorthwash commented on #436
+1, was this ticket opened?

[2018-10-25 23:34] nu11us commented on #436
Yeah, imdb was broken and weather was rarely used.

[2018-10-25 23:36] jonorthwash commented on #436
Ah, okay.

That's a good one to keep around though...  And it could be more useful to another community.  Is there a way to bring it back?

[2018-10-25 23:41] nu11us commented on #436
Of course; I can just add another pull request or someone can just re-add the module to the folder.

[2018-10-26 15:36] Androbin commented on #348
Keep in mind that the goal is to cover as many code paths as possible, not to test trivialities.

[2018-10-26 19:42] Androbin commented on #348
After adding new tests, you might want to increase `NOSE_COVER_MIN_PERCENTAGE` in `unit-tests.sh`.

[2018-10-27 01:35] wei2912 commented on #437
Just a few remarks:
1. Students should not need to reveal their full names on IRC to complete the task.
2. Mentors should link students - that way, we get a bit more interaction.
3. Module should be more user friendly and acknowledge commands.

When a mentor runs `.gci nick`, Begiak should generate a code and print it out, as well as tag the mentor (e.g. "The nick <nick> has been linked to the GCI

[2018-10-27 21:59] jonorthwash commented on #436
@nu11us, could you just add another PR?

[2018-10-28 03:44] wei2912 opened #448 "Fix `.commands`"
`.commands` does not show the full listing of commands in every module. This is likely due to the inconsistent definition of commands in modules. For example, [modules/gci.py](https://github.com/apertium/phenny/blob/master/modules/gci.py) defines `.gci` in this manner:

[code]

which causes the command to not be recognised by begiak. The definition of a command should be standardised to follow [mo

[2018-10-28 04:11] wei2912 commented on #341
@gstark0 Is this issue still valid? :P

[2018-10-28 04:32] wei2912 opened #449 "Synchronise Begiak with upstream"
Begiak is forked from https://github.com/mutantmonkey/phenny. Currently, it is ahead by 1000+ commits and behind by < 100 commits. To keep the codebase up to date, commits from upstream should be pulled if they are relevant to begiak.

Also, in the spirit of FOSS, we should cherry pick some of our commits and submit PRs to the main codebase.

[2018-10-28 13:15] Androbin commented on #449
In Progress:
* [ ] https://github.com/mutantmonkey/phenny/pull/49
* [x] https://github.com/mutantmonkey/phenny/pull/82
* [x] https://github.com/mutantmonkey/phenny/pull/85
* [ ] https://github.com/mutantmonkey/phenny/pull/87

[2018-10-28 13:34] Androbin commented on #448
In `bot.py` we recognize all variants and store all commands per module.
The "commands" variant is much less powerful than the "rule" variant.
And `.command` uses the data curated by `bot.py` anyway.

The issue arises from a much simpler fact:
`.command` lists only commands with a Python Docstring.

In `bot.py`
[code]

In `info.py`
[code]

Let's instead use `phenny.commands` which holds all known

[2018-10-28 13:36] Androbin commented on #341
We don't currently support that. Should be fairly easy to implement given the existing code.

[2018-10-29 19:07] Androbin commented on #431
I think it's 2 fixed issues, 1 server fault, 1 intended behavior...

[2018-10-29 19:07] #431 closed

[2018-10-29 19:08] #437 closed

[2018-10-29 19:09] Androbin commented on #197
Removed in #441

[2018-10-29 19:09] #197 closed

[2018-10-29 20:03] Androbin commented on #448
Fixed in a565a43b3677c08b5522008f48f684020850ee00

[2018-10-29 20:03] #448 closed

[2018-10-29 21:25] sushain97 opened #450 "Resurrect .weather"
cc @jonorthwash , @nu11us

see #436

[2018-10-29 21:43] #450 closed

[2018-10-30 02:58] #435 closed

[2018-10-30 03:57] jonorthwash opened #452 ".more acts buggy and doesn't give more"
begiak offered to give more messages using `.more`

    (23:53:41) begiak: apertium-lat: jonorthwash [ 5aa21ef fa3ea87 cdf38d6 063c032 3fdb568 c0f7b33 27681a2 8711ea8 4efba53 84f1d06 e8bb559 08d0be0 1f07806 293c0f3 71c31fb 33ab0f2 3b315ce 0587499 367bfee c425fbb a9a2b84 28b7a3d d374e3b e443ea5 b0e71bc 9d35850 2d786af 5251251 595f2d6 8553267 fe2be3f 83ffe01 d0d6325 01954bd d97cde6 d3c1108 6f29e31 1

[2018-10-30 10:15] Androbin commented on #448
Now let's hope we don't run into this:
![a2cce0c97ddee30-a-nw-p](https://user-images.githubusercontent.com/16437156/47711229-04667100-dc35-11e8-8465-2bd3c6ad1d69.png)

[2018-10-30 18:15] sushain97 commented on #434
@Androbin would you mind leaving this for GCI for a little bit at least? I've created a task for it already.

[2018-10-30 23:38] Androbin commented on #452
Seems to be https://github.com/apertium/phenny/issues/431#issuecomment-418171231.
I have no clue why begiak would respond in private here...

[2018-10-31 22:08] luo-yuyuan opened #456 "Test issue"

[2018-10-31 22:08] #456 closed

[2018-10-31 22:55] luo-yuyuan opened #458 "Issue Title"

[2018-10-31 22:56] #458 closed

[2018-10-31 23:21] sushain97 commented on #458
@luo-yuyuan could you test with another repo so that the 11 people watching this repo don't get emails? :)

[2018-11-01 02:48] jonorthwash commented on #452
begiak sends debug info to admins.  I only get them after they've gone around some already, so I receive "..." instead of the debug message, due to throttling stuff.  It'd be good if we could fix that—there's no reason to throttle (or whatever) this way.  Perhaps a separate bug for that, and this one is for the `.more` issue.

[2018-11-01 16:49] Androbin commented on #452
I've looked at the truncating / throttling stuff already but couldn't really find anything suspicious.
Only that `break_up` called with `max_count` could have an unnecessary stray "..." at the end.
Should be fixed in https://github.com/apertium/phenny/commit/4e4914dfe279edd65353b98eecdd019c15a595b8#diff-6aa7aa8d27989b54139a1beea67cad9dR160 but if that was to occur, there would have been other mess

[2018-11-01 16:56] Androbin commented on #452
`git.py` sends messages to a list of channels, mediated via `more.py`.
The `.more` command (if used on channels) is restricted to admins.
It first checks private messages and if there are none, checks channel messages.
See https://github.com/apertium/phenny/commit/4e4914dfe279edd65353b98eecdd019c15a595b8#diff-e8c61ad82683d48ec40ed06c44211f27R69.
This could be an alternative explanation to error re

[2018-11-05 02:39] shardulc opened #459 "Rigorous tests for git.py"
`git.py` really needs rigorous unit tests, since it's the module that's been doing weird things the most for a long time. These tests should:
 1. Give the module mock event inputs and check whether they are output correctly. In particular, according to #434, some events should be ignored and others should not.
 1. Check that GH is still giving us events in the format we expect: not sure whether or

[2018-11-05 02:40] shardulc commented on #412
Is svnpoller still used? Do we need it for anything?

[2018-11-05 02:40] sushain97 commented on #459
I wouldn't worry about this. The mocks should just verbatim copy real/slightly tweaked webhook JSON and feed the module it.

[2018-11-05 16:29] jonorthwash commented on #459
This will depend on configuration.

[2018-11-05 17:05] sushain97 commented on #412
It's my understanding that the svnpoller module is just generic RSS polling support. That seems potentially useful in other contexts.

[2018-11-07 15:41] jonorthwash opened #460 "receiving bugs via pm"
Over the course of the night/morning of 2018-11-07 EST time I received the following messages:
[code]

At 07:37 nothing in particular seems to've been happening in #apertium or #hfst.  So maybe it was a git hook?

[2018-11-07 16:02] Androbin commented on #460
`git.py` doesn't parse XML. The only files to reference this package are `ethnologue.py`, `hs.py`, `iso639.py`, `svnpoller.py`, `wiki_count.py`, `web.py` and `wiki.py`.
Also, I thought I'd gotten rid of the "..." ?

[2018-11-11 19:14] jonorthwash commented on #460
So here's some debugging info that might help:
[code]

[code]

For the most recent one at least, @ftyers got the following:

[code]

[2018-11-11 19:15] jonorthwash commented on #460
All admins should get the error messages; perhaps there should be throttling, but no converting them to "...".

[2018-11-11 19:39] Androbin commented on #460
This error was introduced here: https://github.com/apertium/phenny/commit/aab29cb53d00e48a4928e4544025fa6ed4a5072b#diff-e5ab8ed9335998c056824d43c38a77c5R163

[2018-11-11 20:04] Androbin commented on #460
I have triggered that error test-wise and received the error message but no "..."

[2018-11-11 20:13] Androbin commented on #460
@jonorthwash I think this line is the source of the "...": https://github.com/apertium/phenny/blob/master/modules/svnpoller.py#L234

[2018-11-11 20:34] Androbin commented on #460
I think line 3 reads something like `svn: E155007: »/home/begiak/phenny« is not a working copy`

[2018-11-11 20:35] jonorthwash commented on #460
I get it because I'm not the first person to receive the messages.  It's the message deduplication functionality.

[2018-11-11 20:37] Androbin commented on #460
Oh, I see; that's interesting. The duplication doesn't differentiate between channels. I'll fix that.

[2018-11-11 21:07] Androbin commented on #452
Loop Detection should be fixed in 008fd6ff970deefc7d9fb3ca0a52a2bf5045e17a.
I think all causes should be covered now.

[2018-11-11 21:07] #452 closed

[2018-11-11 21:46] jonorthwash commented on #389
@sushain97, what's the status here?  @nu11us seems interested in a GCI task related to this.

[2018-11-11 21:48] sushain97 commented on #389
Step 4 is done. He can take up steps 1-3. There's some instability in the service due to a db lock poisoning issue but it doesn't crop up unless you throw 30+ simultaneous requests. There's an issue out to fix it that could also easily be a GCI task.

[2018-11-11 22:06] jonorthwash commented on #460
I'm also getting this behaviour with `.more`:

[code]

Then in pm:

[code]

[2018-11-11 22:29] Androbin commented on #460
I know (see #452). I've enumerated a number of possible causes.
First fixed `break_up`, then private / channel logic, now loop detection.
Let me know, if the issue persists (in another form).

[2018-11-11 22:43] jonorthwash commented on #460
So now when I did `.more`, I got this in pm:
[code]

That's a big improvement, but there's still obviously something wrong :)

[2018-11-12 05:07] jonorthwash commented on #460
Now getting this:
[code]

All that happened in #apertium around then was this:
[code]

[2018-11-12 05:09] jonorthwash commented on #460
Also, the current begiak log has tons of errors:
[code]

[2018-11-12 05:11] jonorthwash commented on #460
More:
[code]

Nothing seemed to be going on in #apertium then.

[2018-11-12 23:42] Androbin commented on #460
Are you sure the `.db` files aren't outdated?

Fixed in 9da0e2e6c779dc7bc33e8a3259806b541bdfc5c2

One typo in `mailing_list.py` (fixed), a multithreading issue with `git.py` (faulty lock?) and please don't ask me about `svnpoller.py`

see https://github.com/apertium/phenny/issues/460#issuecomment-437702319

[2018-11-13 15:21] jonorthwash commented on #460
They could be, I have no idea.  Shouldn't the code check for this and repair as necessary?

[2018-11-13 15:22] jonorthwash commented on #460
What should I do?

[2018-11-13 18:31] Androbin commented on #460
May I ask, what's in the config for `svn_repositories`?

[2018-11-14 01:04] jonorthwash commented on #460
Which one?

[code]

[2018-11-14 02:43] jonorthwash commented on #460
Also, I'm still getting this:
[code]

[2018-11-14 07:06] avyayv commented on #434
@Androbin I can fix this issue

[2018-11-14 16:30] Androbin commented on #460
* The file in question is named `begiak-irc.freenode.net.more.db` (or similar).
* Using the same config, I couldn't reproduce the SVN (etree) issue by now.
* I just pushed d33d6e2c8237355c1ff98147a5ef7fd8a7141ec9 to improve error reporting for more details.

[2018-11-15 05:02] jonorthwash commented on #460
[code]

[2018-11-15 23:46] Androbin commented on #460
Could only reproduce with these two repositories:
* https://apertium.svn.sourceforge.net/svnroot/apertium
* https://hfst.svn.sourceforge.net/svnroot/hfst

Command: `svn --xml info https://apertium.svn.sourceforge.net/svnroot/apertium`

Standard Output:
[code]
Standard Error:
[code]
Exception: `xml.etree.ElementTree.ParseError: no element found: line 3, column 0`

All other repositories seem to wor

[2018-11-16 00:16] jonorthwash commented on #460
Okay.  So what does that mean for how we should proceed?

[2018-11-16 00:38] Androbin commented on #460
* `svnpoller.py` now does additional logging (see above) which will tell us the exact issue. (33990c3a19c90e8d01b1e2e8a78ac365bfe2c4a3)
* `git.py` now uses proper locking. (a570d0495104649d3fd92e84bb7a0668465c6c0f)

[2018-11-16 15:19] jonorthwash commented on #460
[code]

[2018-11-16 15:21] jonorthwash commented on #460
Also getting stuff like this in the logs:
[code]

[2018-11-18 19:32] jonorthwash commented on #460
Also now this:
[code]

[2018-11-18 22:31] Androbin commented on #460
`HtmlComment` apparently doesn't implement `text_content` although declared. Fixed in 5198348f1bae0e18e672ab7a77aca2f86f4c17ae.
@jonorthwash By the way, please create specific tickets if issues can be clearly differentiated.

[2018-11-22 18:36] jonorthwash commented on #460
[code]

[code]

[code]

[2018-11-22 18:38] jonorthwash commented on #460
I guess one of these is still svn stuff, and one is `.more`.  What should I limit my reports to this issue to?

[2018-11-24 04:20] jonorthwash commented on #460
A bunch of stuff like this:

[code]

There's also stuff like this:
[code]

Ah, right.  Sorry.  Done now.

[2018-11-24 16:51] Androbin commented on #460
It's so nasty when different errors are logged interleaved...
The above contains no error from `svnpoller.py`.
The last error was caused by #462.
The first error was presumably triggered as a result of that.

[2018-11-25 08:22] ftyers opened #463 "svnpoller broken"
Please stop :(

[code]

[2018-11-25 18:17] jonorthwash commented on #460
Deleting `svnpoller.py` is the wrong approach.  I can *disable* it if needed, but deleting it means we're giving up on debugging it.  Could you restore it?

[2018-11-25 18:17] jonorthwash commented on #460
@wei2912, also note:

[2018-11-26 04:46] wei2912 commented on #460
It's in the commit history, so we could create a new branch and revert the commit there. But if you do prefer to leave it in the repo, I can revert the commit for you.

[2018-11-26 20:33] Androbin commented on #463
@wei2912 I don't think we want to flood control error reports.
The `max_path` default parameter controls the maximum number of lines in the stack trace:
https://github.com/apertium/phenny/commit/d33d6e2c8237355c1ff98147a5ef7fd8a7141ec9#diff-fc8ffb45857c1b6539f3506c6c16a515R249

[2018-12-01 05:30] jonorthwash commented on #460
Yes, let's leave `svnpoller.py` in the repo.  I have it set to disabled in begiak's config, and it appears not to be the source of the current issues.

[2018-12-02 07:18] #433 closed

[2018-12-04 05:53] ApertiumBot opened #465 "test issue"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of sushain on #apertium. A human is yet to update the description.

[2018-12-04 05:55] #465 closed

[2018-12-04 05:55] ApertiumBot opened #466 "github issue creator shouldn't have allowed_owners hardcoded"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of firespeaker on #apertium. A human is yet to update the description.

[2018-12-04 05:55] ApertiumBot opened #467 "github issue creator message should be overrideable in config and the default should link to begiak"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of firespeaker on #apertium. A human is yet to update the description.

[2018-12-04 05:58] jonorthwash commented on #463
svnpoller has been disabled, but this bug still needs to be addressed at some point.

[2018-12-04 05:59] ApertiumBot opened #468 "github issue creator results in two messages on issue creation under current configuration: one from the module and one from the git module"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of firespeaker on #apertium. A human is yet to update the description.

[2018-12-04 18:50] ApertiumBot opened #469 "Github module very broken"
It's also been erratically not actually posting all commits and posting sometimes more than it should.

[code]

[2018-12-05 12:49] Androbin commented on #469
I think that Loop Detection should have taken care of the repeated messages.

[2018-12-06 06:13] sushain97 commented on #466
I wonder if we can just catch a 403 instead.

[2018-12-07 00:33] #389 closed

[2018-12-09 02:48] #469 closed

[2018-12-11 19:44] flammie commented on #434
While I don't mind ticket comments, they can be useful sometimes, the bots commenting pull requests are not very interesting to IRC I don't think, and have potential for lots of spam I'm afraid:

[code]

[2018-12-11 19:48] sushain97 commented on #434
I like ticket comments as well and agree with your comment. Let's open an issue to configure blacklist strings or something of that nature.

[2018-12-12 01:34] #434 closed

[2018-12-12 01:35] sushain97 opened #471 "Blacklist certain phrases in ticket comment notifications"
[code]

_Originally posted by @flammie in https://github.com/apertium/phenny/issues/434#issuecomment-446336040_

[2018-12-12 01:42] ApertiumBot opened #472 "GitHub .issue module tests are very flaky (see https://travis-ci.org/apertium/phenny/builds/466798982)"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of sushain on #apertium. A human is yet to update the description.

[2018-12-15 02:03] avyayv commented on #471
Will this be an option in config, blacklisting all comments from coveralls or just blacklisting all coverage updating comments?

[2018-12-15 02:40] sushain97 commented on #471
An option in the config is ideal whenever doing so does not pose an undue burden.

[2018-12-15 19:19] avyayv commented on #471
Ok, I'll add support for the config

[2019-01-10 17:32] jonorthwash commented on #460
I don't think anyone's been receiving bugs in pm for a while now.  Are there any other issues we need to create based on the information in here before we close this one?

[2019-01-14 17:15] ApertiumBot opened #474 ".logs with no args is buggy (URL suffixed with .log)"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of sushain on #apertium. A human is yet to update the description.

[2019-02-04 06:33] jonorthwash commented on #431
I think all of this has been addressed now.

[2019-03-11 20:30] ApertiumBot opened #476 ".issue tests are flaky"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of sushain on #apertium. A human is yet to update the description.

[2019-03-11 20:31] sushain97 commented on #476
Oops, I already made this issue.

Duplicate of #472

[2019-03-11 20:31] #476 closed

[2019-03-11 20:35] jonorthwash opened #477 "Messages about HTTP protocal issue"
I got a PM error log from begiak of the following nature:
[code]

Around that time in the channel this was happening:

[code]

[2019-03-11 20:38] AMR-KELEG commented on #477
I believe this happens because I was using the wrong format for the date (I used DD/MM/YYYY instead of MM/DD/YYYY).
So basically, I am trying to access a file that isn't created yet.

[2019-03-11 22:15] #474 closed

[2019-03-11 22:32] AMR-KELEG opened #478 "Use only single quotes for strings in test_apertium_wiki.py"
The file responsible for unit testing the Apertium wiki contains mixed single and double quotes for strings.

Double quotes should be replaced with single quotes for the whole file.

Example:
https://github.com/apertium/phenny/blob/9d0f610a859a2b085e9b210cbd28f93627d1b8d1/modules/test/test_apertium_wiki.py#L97

should be replaced with:
    `string_check = 'Log at ' in out `

[2019-03-12 03:20] jonorthwash commented on #477
Aha.  In that case, perhaps instead of notifying admins about an "HTTP protocol issue", begiak should notify the user about the correct date format.

[2019-03-12 03:25] jonorthwash commented on #478
I assume there's some reason they should all be single quotes and not double quotes?

[2019-03-12 03:33] sushain97 commented on #478
It doesn't matter as long as it's one or the other. I prefer single and standardize around that on other Apertium Python projects.

[2019-03-14 15:32] flammie opened #479 "quoted-unreadable names should be decoded"
begiak doesn't decode quoted-unreadable names when announcing mail messages, e.g.:

[code]

[2019-03-21 19:40] jonorthwash commented on #479
Duplicate of #260.

[2019-03-21 19:43] jonorthwash opened #480 "Wikipedia module reporting incorrect page?"
Just now I pasted one url and begiak looked up another url.

[code]

[2019-03-21 19:48] jonorthwash commented on #479
@Androbin, do you know why your fix isn't working?

[2019-04-06 23:08] ApertiumBot opened #481 "Support .t for beta.apertium.org"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of sushain on #apertium. A human is yet to update the description.

[2019-04-07 04:59] jonorthwash opened #482 "usage information for .t going to admins"
In `#apertium` the following was happening:

[code]

While in private messages from begiak, I got the following (as a begiak admin):

[code]

The usage information should go to the channel where the command was issued incorrectly, not to admins.

[2019-04-29 13:47] jonorthwash opened #483 "github module errors to private chat"
In the main channels I see
[code]
In my personal messages I then get
[code]

My understanding was that there was error handling in place for "Address already in use" issues.

[2019-04-29 13:50] jonorthwash opened #484 "init script no longer working"
I'm having to stop the process manually in order to restart begiak.  Something about the init script appears to be broken.
[code]

[2019-04-29 13:51] jonorthwash commented on #484
Also note behaviour like:
[code]

[2019-05-16 02:35] ApertiumBot opened #485 ".awikstats module missing commas"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of sushain on #apertium. A human is yet to update the description.

[2019-05-16 02:35] sushain97 commented on #485
[code]

[2019-06-02 19:17] jonorthwash opened #486 ".awikstats misc issues"
I ran `.awikstats update kaz-kaa` and [this is what it did](http://wiki.apertium.org/w/index.php?title=Apertium-kaz-kaa%2Fstats&diff=69841&oldid=51501).

Issues I see:
- The username `francis.m..tyers` is not a github username, nor is it even a valid part of one.  It should be @ftyers, I think.
- It added the incorrect `rlx rlx rules` instead of updating `rlx rules`.
- It added `dix stems` instead

[2019-06-02 20:09] sushain97 commented on #486
This is as designed but a bit unfortunate. The username's are GitHub's translation of a GH user to an SVN user. https://github.com/apertium/apertium-stats-service/issues/52 should be able to modify the behavior.

This sounds like bugs in this repo.

This one is definitely by design. Not sure how to generate the latter URL since I'm not sure what the `593d5b5a1eb858097a6f44040ef3cb03` is referring

[2019-06-02 20:31] jonorthwash commented on #486
With the two dots also?

By "this repo" do you mean `phenny` or `apertium-kaz-kaa`?  If the latter, what's the relationship between what's in the repo and what it prints for rule counts?

If you click on it, it anchors to the right file.  It's also what's linked to for the commit under [the file's history](https://github.com/apertium/apertium-kaz-kaa/commits/master/apertium-kaz-kaa.kaz-kaa.rlx).

[2019-06-02 20:36] sushain97 commented on #486
Yep.

`phenny`. This repo doesn't do any of the calculation, it just gets the numbers from `stats-service` and updates the wiki. Numbers: https://apertium.projectjj.com/stats-service/apertium-kaz-kaa.

Hmm, yeah, I see what the point of the anchor is. Unfortunately, I don't actually know what that value is and how to generate it programatically. As for going to the diff instead of the file, I thin

[2019-06-03 04:15] jonorthwash commented on #486
At http://wiki.apertium.org/wiki/Apertium-kaz-kir/stats I'm getting myself as both "jonorthwash" and "jonathan.north.washington".  Are you sure this is as designed?

[2019-06-03 04:17] jonorthwash commented on #486
Some action items so far:

- [ ] Have phenny add `rlx rules` instead of `rlx rlx rules`.
- [ ] Have phenny update (or rename) `stems` instead of adding `dix stems`.
- [ ] Have links for commit hashes point to the page of diffs for that commit instead of to the raw file at that commit.

[2019-06-03 04:21] jonorthwash commented on #486
Also, it looks like transfer macros aren't being counted correctly.  The [kaz-kir stats page](http://wiki.apertium.org/wiki/Apertium-kaz-kir/stats) reports 0 kaz-kir t1x macros, but [kaz-kir.t1x](https://github.com/apertium/apertium-kaz-kir/blob/master/apertium-kaz-kir.kaz-kir.t1x) has 6.

[2019-06-03 04:40] sushain97 commented on #486
Yep. This seems attributable to different emails being used which appears is what GH uses to create the SVN authors (at least partially)? It's a bit unclear. Note the two emails below for you.

[code]

Hmm, this one sounds like a bug. Does this look like the right way to count them?

https://github.com/apertium/apertium-stats-service/blob/master/src/stats/xml.rs#L95

IIRC, I copied whatever the ol

[2019-06-03 04:50] jonorthwash commented on #486
No, it should be counting `<def-macro ...>...</def-macro>` blocks.

[2019-06-03 04:52] sushain97 commented on #486
Ah... I wonder why I wrote it the other way. Fixed: https://github.com/apertium/apertium-stats-service/commit/ac4cbacb34f0eed65c6920b8e84897f8229794ae.

I'll deploy it in a bit.

[2019-06-03 05:41] sushain97 commented on #486
@jonorthwash look any better?

[2019-06-03 12:11] jonorthwash commented on #486
The raw data at https://apertium.projectjj.com/stats-service/apertium-kaz-kir looks good now; I'll have to check the output of `.awikstats` later.

[2019-06-11 14:24] TinoDidriksen opened #487 "Disable module "noexceptions""
It was fun the first few times, but it's just noisy by now. Or at least reduce it to 1/100th the frequency.

[2019-07-01 18:20] AMR-KELEG opened #488 "Support Capitalized "Tell""
Begiak is currently only triggered to pass reminders if lower-cased "tell" is used.
Can we also extend it to be triggered by upper-cased "Tell"?

[2019-10-28 05:39] jonorthwash commented on #488
Should be trivial to make it case-insensitive.

[2019-11-12 13:16] flammie opened #489 "opt out from "Consider rmoving" messages?"
I use Flammie[m]  for matrix account and Flammie for irssi. I don't need new message every day that I can consider removing the [m].
![consider-removing](https://user-images.githubusercontent.com/1498282/68674852-f8570400-0556-11ea-995a-d1a06ae583e1.png)

[2019-11-18 03:18] jonorthwash opened #490 "github module crashes when payload is sent"
Information from the log:

140.82.115.251 - - [17/Nov/2019 21:39:58] "POST / HTTP/1.1" 200 -
DEBUG: responded '200' in 0.00s
Traceback (most recent call last):
  File "/usr/lib/python3.5/socketserver.py", line 313, in _handle_request_nobloc
k
    self.process_request(request, client_address)
  File "/usr/lib/python3.5/socketserver.py", line 341, in process_request
    self.finish_request(request,

[2019-11-18 03:24] jonorthwash opened #491 "clock module crashes on startup"
[code]

[2019-11-18 03:48] jonorthwash commented on #490
The crash happens right as any but the first payload is sent, but before `do_POST()` is entered.

[2019-11-18 03:52] jonorthwash commented on #491
It appears that the scraper just needs to be updated.

[2019-12-03 00:40] scoopgracie commented on #488
Done in PR#493 https://github.com/apertium/phenny/pull/493

[2019-12-03 03:05] scoopgracie commented on #484
I claimed this on GCI. Could you assign it to me?

[2019-12-03 03:22] scoopgracie commented on #484
thx!

[2019-12-03 03:46] scoopgracie commented on #484
Done!
PR https://github.com/apertium/phenny/pull/493

[2019-12-03 03:53] scoopgracie opened #494 "More begiak tasks on GCI"
I think putting more begiak-related tasks on GCI would be helpful. Not everybody can contribute to the translator, since doing much on it requires knowing two languages.

[2019-12-03 04:39] mr-martian commented on #494
Look at the issues labeled gci: https://github.com/apertium/phenny/issues?q=is%3Aissue+is%3Aopen+label%3Agci

I think #491 especially, since that's causing most of the failing tests.

I'll turn then into actual GCI tasks when I get the chance.

[2019-12-03 16:41] scoopgracie commented on #494
ok, thx!

[2019-12-03 16:43] scoopgracie opened #495 "Set a coding style"
There really is no official coding style for Begiak. Everyone seems to follow PEP8, so should we make that official?

[2019-12-03 16:46] scoopgracie commented on #484
I fixed it by adding a sleep 1 command. Begiak didn't have time to stop before the script tried to start it again.

[2019-12-03 16:47] scoopgracie commented on #489
What about just doing away with those messages entirely? Are they really helpful?

[2019-12-04 01:38] scoopgracie commented on #487
Will you please assign this to me?

[2019-12-04 01:45] scoopgracie commented on #487
Done in PR https://github.com/apertium/phenny/pull/493

[2019-12-04 04:00] scoopgracie commented on #463
if we no longer use svn, does this matter?

[2019-12-04 17:46] scoopgracie commented on #478
Could you please assign this to me?

[2019-12-05 15:54] YashKarthik commented on #491
@jonorthwash  did it work after the update??

[2019-12-05 15:55] jonorthwash commented on #491
@jonorthwash, no, I meant, the scraper needs to be updated (as in, fixed to deal with new format of data).  I didn't actually change anything.

[2019-12-05 15:56] YashKarthik commented on #491
okok

[2019-12-06 00:42] scoopgracie opened #498 "Add an "autotell"?"
This would make it so that messages in the form:
* nick: message
* nick message
* nick, message
would be equivalent to:
begiak: tell nick message
if **and only if** nick was offline.
Should we do it?

[2019-12-06 02:01] wei2912 commented on #449
@mutantmonkey has archived upstream, so I don't think the project is being actively maintained anymore. Hence, I've decided to close this issue.

[2019-12-06 02:01] #449 closed

[2019-12-06 03:43] sushain97 commented on #449
Hmmm:

[2019-12-06 10:49] Androbin commented on #449
One can ask GitHub Support to remove a fork pointer to turn it standalone repository.
Maybe we can ask them to instead change our fork pointer from mutantmonkey to vtluug?

[2019-12-06 15:07] wei2912 commented on #484
How does this explain the behaviour described by @jonorthwash?

[2019-12-06 15:09] jonorthwash commented on #484
Also, it seems to be "sleep 5" currently.  This isn't good.  See the discussion here:
https://github.com/apertium/phenny/pull/493#discussion_r354044816

[2019-12-06 15:57] jonorthwash commented on #463
Probably worthwhile, as some people do use svn.  But not urgent for Apertium.

[2019-12-07 13:01] TinoDidriksen commented on #498
No, that's way too ambiguous and would be caught by random lines and pastes. The bot must be invoked directly.

[2019-12-07 13:02] #498 closed

[2019-12-08 00:34] scoopgracie commented on #498
OK, thanks!

[2019-12-08 03:16] wei2912 commented on #495
Yeah, by default the Python community as a whole follows PEP8 and will impose additional restrictions on top of it. In our case, given the pretty decentralised nature of begiak development (where most development is done by GCI students, with each working on a few modules), I don't think there's a strong need to create a style guide. Honestly most of the scripts are hacked together anw

[2019-12-08 03:21] scoopgracie commented on #495
OK. Is that why there are so few commits?

[2019-12-08 03:23] wei2912 commented on #495
Pretty much why - we only modify the code if it's important to the channel and urgent. Of course you could continue working on the bot after GCI ends if you're interested, or try to develop your own.

[2019-12-08 03:23] scoopgracie commented on #495
OK. Do good PRs generally get accepted somewhat quickly?

[2019-12-08 03:25] wei2912 commented on #495
If we have time to review it... :P Anyways, I'll be closing this issue.

[2019-12-08 03:25] #495 closed

[2019-12-08 15:42] tomasff commented on #485
Could you be more specific on what the issue is?
I don't quite understand.

Do mean that `9141` should be written as `9,141`?

[2019-12-08 15:51] scoopgracie commented on #362
why is this needed if we can already do /whois someone?

[2019-12-08 18:21] scoopgracie opened #500 "begiak can(not) pester itself"
One time, I chatted:
begiak: pester begiak tell scoopgracie gracie is a cat
Today, @firespeaker sent me some logs:

    (13:12:44) begiak: Error in 'pester/pester' with input 'begiak: (2019-12-04 02:26:54) scoopgracie pesters you tell scoopgracie gracie is a cat'
    (13:13:11) begiak: sqlite3.OperationalError: database is locked
    (13:13:12) begiak: File "/home/begiak/phenny/modules/pester.py",

[2019-12-08 18:36] #484 closed

[2019-12-08 18:52] scoopgracie commented on #491
I claimed this on GCI. Will someone please assign it to me?

[2019-12-08 18:55] jonorthwash commented on #485
Yes.

[2019-12-08 18:55] jonorthwash commented on #488
Is this issue now closed?

[2019-12-08 18:57] jonorthwash commented on #487
This is a configuration issue—I don't think we should delete the module.

[2019-12-08 18:57] jonorthwash commented on #489
We could have a "snooze" feature for this maybe?  Or just like "permanently dismiss"?

[2019-12-08 19:48] scoopgracie commented on #489
What is the use for the messages? Is the [m] really problematic?

[2019-12-08 20:33] scoopgracie commented on #500
UPDATE: I didn't just break pester. I _completely_ broke begiak. @jonorthwash restarted it and it works again.

[2019-12-08 23:30] flammie commented on #489
I'd prefer permanently dismiss, as I cannot follow the advice anyways. I can see it will be useful for first time matrix users with no irc experience once.

[2019-12-08 23:42] scoopgracie commented on #489
How about only when user is first seen?

On Sun, Dec 8, 2019 at 3:30 PM Flammie Pirinen <notifications@github.com>
wrote:

[2019-12-09 00:38] jonorthwash commented on #489
A user could miss it the first few times.  Perhaps just add "Tell begiak 'dismiss' to not see this message again." to the end of the message and have that work.

[2019-12-09 13:29] jonorthwash commented on #491
This issue involves making the scraper work again and also not entirely crash if it encounters stuff it's not expecting (but it should definitely throw a warning, and maybe alert admins).

[2019-12-09 19:24] tomasff commented on #479
I tried @Androbin 's fix in a simple script with the sample text mentioned above and it worked. Not sure why it wasn't working in the bot. I tried it another way which also worked with the sample text, but wasn't able to test in the actual bot.

[2019-12-09 20:29] #494 closed

[2019-12-10 01:27] Androbin commented on #479
I think I got it: `e['Subject']` is processed correctly but `e['From']` is not. We just need to do the same for the other field(s).

[2019-12-10 15:46] #479 closed

[2019-12-10 16:51] #482 closed

[2019-12-11 01:35] scoopgracie opened #505 "Designate a feeder"
We need to have someone stay up 24/7 typing `.botsnack` as often as Begiak wants him/her to.

[2019-12-11 03:51] scoopgracie commented on #489
Fixed by #506.

[2019-12-11 16:51] scoopgracie opened #509 "Add an error reporter"
This feature would be to alert developers to any errors in Begiak.
If it encountered an error, it would first put the error message in the pastebin. Then, it would put a link as a comment on an issue called "Begiak errors" or something.

[2019-12-11 21:13] tomasff commented on #485
@jonorthwash I just added a pull request that attempts to fix this. I was unable to test it since I don't have access to the token.

[2019-12-12 03:35] scoopgracie opened #512 "Disable botsnack"
It's easy to get carried away with botsnack. (I must admit, I've done it.) It serves no practical use, so should we disable it?

[2019-12-12 03:43] jonorthwash commented on #512
Perhaps incorporating it into begiak's generalised(?) rate limiting stuff might be a less extreme approach.

[2019-12-12 03:43] scoopgracie commented on #512
OK, but why does it even exist? Does it do anything useful?

[2019-12-12 03:44] jonorthwash commented on #512
("Occasional fun" is still a purpose ☺  Also, in the right context it can be nice to show your appreciation to begiak for doing something nice for you...;)

[2019-12-12 03:45] scoopgracie commented on #512
ok, sounds good!

[2019-12-12 04:23] #489 closed

[2019-12-12 05:00] jonorthwash commented on #489
@flammie, please test and report back :)

[2019-12-12 14:42] Androbin opened #513 "Fix ethnologue module"
[code]

[2019-12-12 14:44] Androbin opened #514 "Update weather module tests"
[code]

[2019-12-12 14:44] Androbin commented on #514
It's so cumbersome to constantly have to update these. We really need a better solution.

[2019-12-12 14:51] Androbin opened #515 "Update greeting module tests"
[code]

[2019-12-12 14:52] Androbin commented on #515
See #506 @scoopgracie

[2019-12-12 14:54] Androbin opened #516 "Fix apy module tests"
[code]

[2019-12-12 14:54] Androbin commented on #516
See #504 @tomasff

[2019-12-12 16:38] wei2912 commented on #509
There are probably a couple of modules which catch all exceptions and print out a very brief message without providing a stacktrace (that only @jonorthwash has access to in his logs). I think this feature would be pretty useful but we'll have to integrate all the modules with a common interface for exception handling.

[2019-12-12 16:41] wei2912 commented on #436
Given that upstream has been archived, we may want to relook through all the modules and remove those that we won't plan to actively develop.

[2019-12-12 16:43] wei2912 commented on #362
I don't think it's useful as a replacement for `whois`, but it could help in GCI by providing a directory of mentors and useful information about them.

[2019-12-12 17:06] flammie commented on #489
seems to work thanks.

[2019-12-12 17:14] scoopgracie commented on #362
Oh, yeah, that is a good idea. Maybe show data like
    <nick> - <username on GitHub>
    <nick> is a GCI mentor. (S)he is listed as <gci-name> on GCI tasks.

On Thu, Dec 12, 2019 at 8:43 AM Ng Wei En <notifications@github.com> wrote:

[2019-12-12 17:16] scoopgracie commented on #512
It already has some built-in rate limiting, maybe make it stricter? begiak
eventually "explodes" (not literally, of course) when you feed it too much.
Maybe make this happen sooner?

On Wed, Dec 11, 2019 at 7:44 PM Jonathan Washington <
notifications@github.com> wrote:

[2019-12-12 17:17] scoopgracie commented on #515
Umm... I don't know how to use Travis CI. Could someone else fix that?

[2019-12-12 17:18] scoopgracie commented on #509
Oh, OK.

On Thu, Dec 12, 2019 at 8:38 AM Ng Wei En <notifications@github.com> wrote:

[2019-12-12 17:53] sushain97 commented on #515
The authors of the PR that broke a test are responsible for fixing them! The test can be run locally without Travis. Please fix it.

[2019-12-12 18:27] mr-martian commented on #513
When I run this test locally it works, so I wonder if this is maybe connected to Ethnologue having page view limits (I'm on college wifi so it's not limited)?

[2019-12-12 20:03] scoopgracie commented on #515
How did my change break it? What file should I change?

[2019-12-12 20:03] Androbin commented on #515
[code]

[2019-12-12 20:05] scoopgracie commented on #515
OK, will do!

[2019-12-13 01:18] scoopgracie commented on #515
Thx! Fixed.

On Thu, Dec 12, 2019 at 12:03 PM Robin Richtsfeld <notifications@github.com>
wrote:

[2019-12-13 02:03] wei2912 commented on #488
IMHO for consistency's sake we ought to just remain with status quo. If we wish to make "tell" case-insensitive then we should change all other commands too, otherwise it may lead to confusion for users. However, I can't see any easy way to make all commands case insensitive.

[2019-12-13 02:36] wei2912 commented on #271
I'd recommend that we implement the new solution with a fully-featured search e.g. [Bing Search API](https://azure.microsoft.com/en-us/pricing/details/cognitive-services/search-api/), instead of using DuckDuckGo's Instant Answers API, as it really isn't that helpful.

[2019-12-13 02:41] wei2912 commented on #341
How come https://github.com/apertium/phenny/pull/357 was closed?

[2019-12-13 02:57] wei2912 commented on #512
This rate limiting should be done for _all_ commands, and not just botsnack. (I can't remember if there's any rate limiting built in, but there's probably a crude `time.sleep()` somewhere.) Since this module is pretty fun and doesn't do much harm, I'll be closing this issue.

[2019-12-13 02:57] #512 closed

[2019-12-13 03:05] wei2912 opened #518 "Fix clock module tests"
[code]

[2019-12-13 03:05] wei2912 commented on #518
See https://travis-ci.org/apertium/phenny/jobs/624319006; may be related to https://github.com/apertium/phenny/pull/503

[2019-12-13 03:25] jonorthwash commented on #500
Getting this now, associated with sporadic rejoins.
[code]

[2019-12-13 03:28] jonorthwash commented on #483
[code]

[2019-12-13 03:31] jonorthwash commented on #483
I think this relates to #133, which was never fully solved.

[2019-12-13 03:48] Androbin commented on #483
See my last comment on that issue.

[2019-12-13 20:23] scoopgracie commented on #500
weird... nobody used pester to trigger that.

On Thu, Dec 12, 2019 at 7:25 PM Jonathan Washington <
notifications@github.com> wrote:

[2019-12-13 20:24] scoopgracie commented on #488
I'll close my PR. Consensus seems to be what @wei2912 suggests.

[2019-12-14 00:12] #515 closed

[2019-12-14 07:58] wei2912 commented on #500
@jonorthwash What's the output when the commands [here(https://stackoverflow.com/questions/151026/how-do-i-unlock-a-sqlite-database) are executed?

[2019-12-15 18:25] scoopgracie commented on #509
How could I assign myself? Does someone with write access need to do that?

[2019-12-15 18:29] scoopgracie commented on #509
I just noticed... there's a CAPTCHA on the pastebin.

[2019-12-15 18:30] scoopgracie commented on #509
Maybe make it a Gist?

[2019-12-15 18:31] scoopgracie commented on #509
Is a URL on my Web site OK?

[2019-12-15 19:10] scoopgracie commented on #509
I'm making a simple Flask app to store the logs. I'm willing to host it on my VPS (sorry, but I can't guarantee above around 99% uptime), or it can run on the Debian server that runs Begiak.

[2019-12-15 22:09] sushain97 commented on #509
Why can't begiak itself host them?

[2019-12-15 22:15] #485 closed

[2019-12-16 06:23] wei2912 commented on #509
A pastebin isn't necessary - we can just have begiak generate text files, and put them into some directory that is publicly accessible from the server, as well as a field in the config file for us to specify the domain.

[2019-12-16 06:26] sushain97 commented on #509
Or begiak can just serve the logs up from the DB on say port 4343. Logs older than N days could be deleted on startup. Would still need the domain in config though.

[2019-12-16 14:46] jonorthwash commented on #483
This is associated with begiak restarting a lot.

[code]

[2019-12-16 18:23] Androbin commented on #483
@jonorthwash Is there any chance that there is another instance of begiak running somewhere in the background that was not killed properly and which is now occupying the port?

[2019-12-17 18:56] tomasff commented on #516
@Androbin Would it be acceptable to change the functions being tested in the apy module to return the error message instead of returning an empty value so that we can test it?

Or maybe instead of removing the GrumbleErrors in #504, would it be better if we had a `IncorrectUsageException` or adding an option on the GrumbleError exception so that we could now if it was a critical error or not and d

[2019-12-17 20:16] tomasff commented on #514
@Androbin I created a pull request to fix this issue. I explain my reasoning in there too.

[2019-12-18 00:16] jonorthwash commented on #516
I don't see a problem with this.  @Androbin?

[2019-12-18 13:25] tomasff commented on #516
@jonorthwash would the exception modification be a better option than returning the error, even thought it implies using exceptions as control flow?

[2019-12-18 16:18] Androbin commented on #516
We can either `raise` an error or return a special value where that is appropriate.

The `GrumbleError` type might be a bit to generic. Creating more suitable exception types would be a good task by itself.

Remember that this is a ticket on tests. This shouldn't matter much for the tests themselves as we would want to test either type.
But if you find a reasonable way to classify errors (e.g. `In

[2019-12-18 16:20] Androbin commented on #516
As long as this ticket is not replaced or superseded by another ticket, it would be sufficient to just make the build green again, so that we can test other change sets more easily.

[2019-12-18 17:49] scoopgracie commented on #505
Closing for to no interest. Sorry begiak.

[2019-12-18 17:49] #505 closed

[2019-12-18 21:28] #514 closed

[2019-12-18 21:29] Androbin commented on #514
Closed by #521

[2019-12-20 20:41] tomasff commented on #516
@Androbin I have submitted a pull request. As I explained in the description of the pr, it's not a very elegant solution, but should allow us to test the module for now if any changes are made.

[2019-12-22 04:27] wei2912 commented on #509
@scoopgracie With reference to PR https://github.com/apertium/phenny/pull/520, I think we may have a different understanding of how the error reporting system should work. IMO, we don't need begiak to host a website with the ability to navigate through error logs. As mentioned previously, what we'd like is the ability for begiak to simply host the error logs, and post a link to the error stacktrac

[2019-12-22 04:27] wei2912 commented on #509
Good work on the PR btw, it's just that I don't think it's a suitable approach for begiak... my apologies for not making this clearer.

[2019-12-22 04:28] wei2912 commented on #483
Related to https://github.com/apertium/phenny/issues/483.

[2019-12-22 04:46] jonorthwash commented on #483
I've checked that most times I've had to restart it, and I didn't see any.  But there's also an issue with the init script...

[2019-12-22 04:56] sushain97 commented on #509
When an error occurs, Begiak stores the stacktrace to a SQLite database with a random ID/primary key and posts the URL `{domain}/stacktrace/{id}`. Begiak accepts HTTP GET requests on some port and replies to those URLs by pulling the corresponding stacktrace and serving a plaintext response. This shouldn't need flask, it should be doable with built-in Python stuff in ~100 LOC.